# # modules.classes.list = \
# #         marytts.language.en.JTokenizer \
# #         marytts.language.en.Preprocess \
# #         marytts.modules.nlp.JPhonemiser(en_US.) \
# #         marytts.modules.nlp.JPhonemiser(en_GB.)  \
# #         marytts.language.en.Prosody \
# #         marytts.modules.acoustic.SimplePhoneme2AP(en_US) \
# #         marytts.language.en.PronunciationModel \
# #         marytts.modules.nlp.OpenNLPPosTagger(en,en.pos)

# ####################################################################
# ####################### Module settings  ###########################
# ####################################################################


# marytts.modules.nlp.JPhonemiser.allophone_set = jar:/marytts/language/en_GB/lexicon/allophones.en_GB.xml
# marytts.modules.nlp.JPhonemiser.userdict = MARY_BASE/user-dictionaries/userdict-en_GB.txt
# marytts.modules.nlp.JPhonemiser.lexicon = jar:/marytts/language/en_GB/lexicon/en_GB_lexicon.fst
# marytts.modules.nlp.JPhonemiser.lettertosound = jar:/marytts/language/en_GB/lexicon/en_GB.lts

# marytts.modules.nlp.JPhonemiser.pos_punct_regex = ,|\\.|:
# marytts.modules.nlp.OpenNLPPosTagger.model = jar:/marytts/language/en/tagger/en-pos-maxent.bin

# en.prosody.paragraphdeclination = true
# # rules for prediction of ToBI tones
# en.prosody.tobipredparams = jar:/marytts/language/en/prosody/tobipredparams_english.xml
# # rules for accent priorities of pos
# en.prosody.accentPriorities = jar:/marytts/language/en/prosody/POSAccentPriorities.en.properties
# # copy the word accents to the first accented syllable
# en.prosody.syllableaccents = true
