# English language config file


name = en
en.version = 5.0.0

locale = en_US en_GB

###########################################################################
############################## The Modules  ###############################
###########################################################################
# For keys ending in ".list", values will be appended across config files,
# so that .list keys can occur in several config files.
# For all other keys, values will be copied to the global config, so
# keys should be unique across config files.


# Java classes to use as the modules, as a whitespace-separated list.
# These have to implement marytts.modules.MaryModule.
# For each input type + output type, only one Module may be listed
# across all components, or an Exception will be thrown.
# No particular order is required -- a processing pipeline from input data type
# to output data type will be computed on-line.

modules.classes.list = \
        marytts.language.en.JTokeniser \
        marytts.language.en.Preprocess \
        marytts.modules.JPhonemiser(en_US.) \
        marytts.modules.JPhonemiser(en_GB.)  \
        marytts.language.en.Prosody \
        marytts.modules.SimplePhoneme2AP(en_US) \
        marytts.language.en.PronunciationModel \
        marytts.modules.OpenNLPPosTagger(en,en.pos) \

####################################################################
####################### Module settings  ###########################
####################################################################

en_US.allophoneset = jar:/marytts/language/en_US/lexicon/allophones.en_US.xml
en_US.userdict = MARY_BASE/user-dictionaries/userdict-en_US.txt
en_US.lexicon = jar:/marytts/language/en_US/lexicon/cmudict.fst
en_US.lettertosound = jar:/marytts/language/en_US/lexicon/cmudict.lts

en_GB.allophoneset = jar:/marytts/language/en_GB/lexicon/allophones.en_GB.xml
en_GB.userdict = MARY_BASE/user-dictionaries/userdict-en_GB.txt
en_GB.lexicon = jar:/marytts/language/en_GB/lexicon/en_GB_lexicon.fst
en_GB.lettertosound = jar:/marytts/language/en_GB/lexicon/en_GB.lts

en.pos.model = jar:/marytts/language/en/tagger/en-pos-maxent.bin
#en.pos.posMap = MARY_BASE/lib/modules/en/tagger/posMap.txt
en.pos.punct.regex = ,|\\.|:

en.prosody.paragraphdeclination = true
# rules for prediction of ToBI tones
en.prosody.tobipredparams = jar:/marytts/language/en/prosody/tobipredparams_english.xml
# rules for accent priorities of pos
en.prosody.accentPriorities = jar:/marytts/language/en/prosody/POSAccentPriorities.en.properties
# copy the word accents to the first accented syllable
en.prosody.syllableaccents = true


# en_US feature processor manager
featuremanager.classes.list = \
	marytts.features.FeatureProcessorManager(en_US) \
	marytts.features.FeatureProcessorManager(en_GB)


