
# marytts.modules.nlp.JPhonemiser.allophone_set = jar:/marytts/language/en_GB/lexicon/allophones.en_GB.xml
# marytts.modules.nlp.JPhonemiser.userdict = MARY_BASE/user-dictionaries/userdict-en_GB.txt
# marytts.modules.nlp.JPhonemiser.lexicon = jar:/marytts/language/en_GB/lexicon/en_GB_lexicon.fst
# # marytts.modules.nlp.JPhonemiser.lettertosound = jar:/marytts/language/en_GB/lexicon/en_GB.lts

marytts.modules.nlp.JPhonemiser.pos_punct_regex = ,|\\.|:
marytts.modules.nlp.OpenNLPPosTagger.model = jar:/marytts/language/en/tagger/en-pos-maxent.bin