marytts.modules.nlp.JPhonemiser.pos_punct_regex = ,|\\.|:
marytts.modules.nlp.OpenNLPPosTagger.model = jar:/marytts/language/en/tagger/en-pos-maxent.bin


# marytts.modules.nlp.JPhonemiser.allophoneset = jar:/marytts/language/en_US/lexicon/allophones.en_US.xml
# marytts.modules.nlp.JPhonemiser.userdict = MARY_BASE/user-dictionaries/userdict-en_US.txt
# marytts.modules.nlp.JPhonemiser.lexicon = jar:/marytts/language/en_US/lexicon/cmudict.fst
# marytts.modules.nlp.JPhonemiser.lettertosound = jar:/marytts/language/en_US/lexicon/cmudict.lts