# EOL encoding is LF, but native in working copy
* text=auto

# batch, markdown, properties, text, and config files should be viewable and user-editable
# -- even in Windows Notepad, so CRLF EOL
*.bat text eol=crlf
*.config text eol=crlf
*.md text eol=crlf
*.properties text eol=crlf
*.txt text eol=crlf
