[submodule "marytts-languages/marytts-lang-de/lib"]
	path = marytts-languages/marytts-lang-de/lib
	url = https://github.com/marytts/marytts-lexicon-de.git
[submodule "marytts-languages/marytts-lang-en/lib"]
	path = marytts-languages/marytts-lang-en/lib
	url = https://github.com/marytts/marytts-lexicon-en_US-cmudict.git
[submodule "marytts-languages/marytts-lang-fr/lib"]
	path = marytts-languages/marytts-lang-fr/lib
	url = https://github.com/marytts/marytts-lexicon-fr.git
[submodule "marytts-languages/marytts-lang-lb/lib"]
	path = marytts-languages/marytts-lang-lb/lib
	url = https://github.com/marytts/marytts-lexicon-lb.git
[submodule "marytts-languages/marytts-lang-it/lib"]
	path = marytts-languages/marytts-lang-it/lib
	url = https://github.com/marytts/marytts-lexicon-it.git
[submodule "marytts-languages/marytts-lang-ru/lib"]
	path = marytts-languages/marytts-lang-ru/lib
	url = https://github.com/marytts/marytts-lexicon-ru.git
[submodule "marytts-languages/marytts-lang-tr/lib"]
	path = marytts-languages/marytts-lang-tr/lib
	url = https://github.com/marytts/marytts-lexicon-tr.git
