# Config file for DatabaseImportMain
# Determines which voice import components are loaded

group raw_acoustics Raw Acoustics

de.dfki.lt.mary.unitselection.voiceimport.PraatPitchmarker raw_acoustics
de.dfki.lt.mary.unitselection.voiceimport.MCEPMaker raw_acoustics

group labels_features Unit Labels and Features

de.dfki.lt.mary.unitselection.voiceimport.Mary2FestvoxTranscripts labels_features
de.dfki.lt.mary.unitselection.voiceimport.SphinxLabelingPreparator labels_features
de.dfki.lt.mary.unitselection.voiceimport.SphinxTrainer labels_features
de.dfki.lt.mary.unitselection.voiceimport.SphinxLabeler labels_features
de.dfki.lt.mary.unitselection.voiceimport.MRPALabelConverter labels_features
                
de.dfki.lt.mary.unitselection.voiceimport.Festvox2MaryTranscripts labels_features
de.dfki.lt.mary.unitselection.voiceimport.LabelledFilesInspector labels_features
de.dfki.lt.mary.unitselection.voiceimport.PhoneUnitLabelComputer labels_features
de.dfki.lt.mary.unitselection.voiceimport.PhoneUnitFeatureComputer labels_features
de.dfki.lt.mary.unitselection.voiceimport.PhoneLabelFeatureAligner labels_features
de.dfki.lt.mary.unitselection.voiceimport.HalfPhoneUnitLabelComputer labels_features
de.dfki.lt.mary.unitselection.voiceimport.HalfPhoneUnitFeatureComputer labels_features
de.dfki.lt.mary.unitselection.voiceimport.HalfPhoneLabelFeatureAligner labels_features
                
group basic_data Basic Data Files

de.dfki.lt.mary.unitselection.voiceimport.WaveTimelineMaker basic_data
de.dfki.lt.mary.unitselection.voiceimport.BasenameTimelineMaker basic_data
de.dfki.lt.mary.unitselection.voiceimport.MCepTimelineMaker basic_data

group acoustic_models Acoustic Models

de.dfki.lt.mary.unitselection.voiceimport.PhoneUnitfileWriter acoustic_models
de.dfki.lt.mary.unitselection.voiceimport.PhoneFeatureFileWriter acoustic_models
de.dfki.lt.mary.unitselection.voiceimport.DurationCARTTrainer acoustic_models
de.dfki.lt.mary.unitselection.voiceimport.F0CARTTrainer acoustic_models

group us_files Unit Selection Files

de.dfki.lt.mary.unitselection.voiceimport.HalfPhoneUnitfileWriter us_files
de.dfki.lt.mary.unitselection.voiceimport.HalfPhoneFeatureFileWriter us_files
de.dfki.lt.mary.unitselection.voiceimport.JoinCostFileMaker us_files
de.dfki.lt.mary.unitselection.voiceimport.JoinCostPrecomputer us_files
de.dfki.lt.mary.unitselection.voiceimport.AcousticFeatureFileWriter us_files
de.dfki.lt.mary.unitselection.voiceimport.CARTBuilder us_files
de.dfki.lt.mary.unitselection.voiceimport.CARTPruner us_files

group install Install Voice

de.dfki.lt.mary.unitselection.voiceimport.VoiceInstaller install
