###########################################################################
############################## The Modules  ###############################
###########################################################################

modules.classes.list = \
        marytts.modules.nlp.JTokenizer \
        marytts.modules.nlp.ProsodyGeneric \
        marytts.modules.nlp.PronunciationModel \
        marytts.modules.acoustic.TargetFeatureLister \
        marytts.modules.acoustic.AcousticModeller
