##########################################################################
# MARY TTS configuration file fr.config
##########################################################################

name = fr
fr.version = 4.3.0

locale = fr

###########################################################################
############################## The Modules  ###############################
###########################################################################
modules.classes.list = \
       marytts.language.fr.Phonemiser  \
       marytts.language.fr.Preprocess \
       marytts.modules.MinimalisticPosTagger(fr,fr.) \         


####################################################################
####################### Module settings  ###########################
####################################################################

# Phonemiser settings
fr.allophoneset = jar:/marytts/language/fr/lexicon/allophones.fr.xml
fr.lexicon = jar:/marytts/language/fr/lexicon/fr_lexicon.fst
fr.lettertosound = jar:/marytts/language/fr/lexicon/fr.lts
#fr.userdict = MARY_BASE/user-dictionaries/userdict-fr.txt

# Minimalistic POS tagger settings
fr.partsofspeech.fst = jar:/marytts/language/fr/tagger/fr_pos.fst
fr.partsofspeech.punctuation = ,.?!;

# Feature processor manager
featuremanager.classes.list = \
	marytts.features.FeatureProcessorManager(fr)
