# Config file for DatabaseImportMain
# Determines which voice import components are loaded

group raw_acoustics Raw Acoustics

marytts.tools.voiceimport.PraatPitchmarker raw_acoustics
#marytts.tools.voiceimport.SnackPitchmarker raw_acoustics
#marytts.tools.voiceimport.SnackVoiceQualityProcessor raw_acoustics
#marytts.tools.voiceimport.AutocorrelationPitchmarker raw_acoustics
marytts.tools.voiceimport.MCEPMaker raw_acoustics

group transcripts Transcripts Conversion

#marytts.tools.voiceimport.Mary2FestvoxTranscripts transcripts
marytts.tools.voiceimport.Festvox2MaryTranscripts transcripts

group labeling Automatic Labeling 

#marytts.tools.voiceimport.EndpointDetector labeling
marytts.tools.voiceimport.AllophonesExtractor labeling
marytts.tools.voiceimport.EHMMLabeler labeling
marytts.tools.voiceimport.HTKLabeler labeling
marytts.tools.voiceimport.LabelPauseDeleter labeling
marytts.tools.voiceimport.LabelledFilesInspector labeling

group labels_align Label-Transcript Alignment 

marytts.tools.voiceimport.PhoneUnitLabelComputer labels_align
marytts.tools.voiceimport.HalfPhoneUnitLabelComputer labels_align
marytts.tools.voiceimport.TranscriptionAligner labels_align

group text_features Feature Extraction

marytts.tools.voiceimport.FeatureSelection text_features
marytts.tools.voiceimport.PhoneUnitFeatureComputer text_features
marytts.tools.voiceimport.HalfPhoneUnitFeatureComputer text_features

group labels_features Verify Alignment 

marytts.tools.voiceimport.PhoneLabelFeatureAligner labels_features
marytts.tools.voiceimport.HalfPhoneLabelFeatureAligner labels_features
#marytts.tools.voiceimport.QualityControl labels_features
                
group basic_data Basic Data Files

marytts.tools.voiceimport.WaveTimelineMaker basic_data
marytts.tools.voiceimport.BasenameTimelineMaker basic_data
marytts.tools.voiceimport.MCepTimelineMaker basic_data
#marytts.tools.voiceimport.HnmTimelineMaker basic_data

group acoustic_models Acoustic Models

marytts.tools.voiceimport.PhoneUnitfileWriter acoustic_models
marytts.tools.voiceimport.PhoneFeatureFileWriter acoustic_models
marytts.tools.voiceimport.DurationCARTTrainer acoustic_models
#marytts.tools.voiceimport.DurationTreeTrainer acoustic_models
marytts.tools.voiceimport.F0CARTTrainer acoustic_models

group us_files Unit Selection Files

marytts.tools.voiceimport.HalfPhoneUnitfileWriter us_files
marytts.tools.voiceimport.HalfPhoneFeatureFileWriter us_files
marytts.tools.voiceimport.F0PolynomialFeatureFileWriter us_files
marytts.tools.voiceimport.AcousticFeatureFileWriter us_files
#marytts.tools.voiceimport.F0PolynomialTreeTrainer us_files
#marytts.tools.voiceimport.F0PolynomialInspector us_files
marytts.tools.voiceimport.JoinCostFileMaker us_files
#marytts.tools.voiceimport.JoinModeller us_files
marytts.tools.voiceimport.CARTBuilder us_files

group hts_trainer HMM Voice Trainer

marytts.tools.voiceimport.HMMVoiceDataPreparation hts_trainer
marytts.tools.voiceimport.HMMVoiceConfigure hts_trainer
#marytts.tools.voiceimport.HMMVoiceConfigureAdapt hts_trainer
marytts.tools.voiceimport.HMMVoiceFeatureSelection hts_trainer
marytts.tools.voiceimport.HMMVoiceMakeData hts_trainer
marytts.tools.voiceimport.HMMVoiceMakeVoice hts_trainer

group install Install Voice

marytts.tools.voiceimport.VoiceCompiler install
marytts.tools.voiceimport.HMMVoiceCompiler install
