#
# Template settings file for selection algorithm
# Change the settings according to your needs 
# 
# A comment starts with #
#
#simpleDiphones true means units are phone+nextPhone+prosody
#(This is the only one supported for the moment)
simpleDiphones true 
#
#possible frequency weights: normal, 1minus, inverse and none
frequency inverse 
#
#sentenceLength none ignores sentence length
#sentenceLength <maxValue> <minValue> restricts sentence length
sentenceLength 150 30
#
#the wanted weights for features phone, nextPhone/nextPhoneClass and prosody
wantedWeight 25 5 1 
#
#the number by which the wanted weight is divided each time a unit with the
#appropriate value is added to the cover
wantedWeightDecrease 1000 
#
#the phones that are known to be missing in the database and should be ignored
missingPhones dummy 
