##########################################################################
# Copyright (C) 2006 DFKI GmbH.
# All rights reserved. Use is subject to license terms.
#
# Permission is hereby granted, free of charge, to use and distribute
# this software and its documentation without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of this work, and to
# permit persons to whom this work is furnished to do so, subject to
# the following conditions:
# 
#  1. The code must retain the above copyright notice, this list of
#     conditions and the following disclaimer.
#  2. Any modifications must be clearly marked as such.
#  3. Original authors' names are not deleted.
#  4. The authors' names are not used to endorse or promote products
#     derived from this software without specific prior written
#     permission.
# 
# DFKI GMBH AND THE CONTRIBUTORS TO THIS WORK DISCLAIM ALL WARRANTIES WITH 
# REGARD TO THIS SOFTWARE, INCLUDING ALL IMPLIED WARRANTIES OF 
# MERCHANTABILITY AND FITNESS, IN NO EVENT SHALL DFKI GMBH NOR THE 
# CONTRIBUTORS BE LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL 
# DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR 
# PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS 
# ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF 
# THIS SOFTWARE.
##########################################################################
# MARY TTS configuration file.
##########################################################################

name = tr
tr.version = 4.3.0

locale = tr


###########################################################################
############################## The Modules  ###############################
###########################################################################
# For keys ending in ".list", values will be appended across config files,
# so that .list keys can occur in several config files.
# For all other keys, values will be copied to the global config, so
# keys should be unique across config files.


# Java classes to use as the modules, as a whitespace-separated list.
# These have to implement marytts.modules.MaryModule.
# For each input type + output type, only one Module may be listed
# across all components, or an Exception will be thrown.
# No particular order is required -- a processing pipeline from input data type
# to output data type will be computed on-line.

modules.classes.list = \
        marytts.modules.JPhonemiser(tr.)  \
        marytts.modules.MinimalisticPosTagger(tr,tr.) \

        marytts.modules.CARTDurationModeller(tr,tr.duration.,marytts.features.FeatureProcessorManager(tr)) \
        marytts.modules.CARTF0Modeller(tr,tr.f0.,marytts.features.FeatureProcessorManager(tr)) \




####################################################################
####################### Module settings  ###########################
####################################################################

# Phonemiser settings
tr.allophoneset = jar:/marytts/language/tr/lexicon/allophones.tr.xml
tr.lexicon = jar:/marytts/language/tr/lexicon/tr_lexicon.fst
tr.lettertosound = jar:/marytts/language/tr/lexicon/tr.lts
#tr.userdict = MARY_BASE/user-dictionaries/userdict-tr.txt

# POS tagger settings
tr.partsofspeech.fst = jar:/marytts/language/tr/tagger/tr_pos.fst
tr.partsofspeech.punctuation = ,.?!;



# Global prosody trees:
tr.duration.cart = MARY_BASE/lib/modules/tr/cap/dur.graph.mry

tr.f0.cart.left = MARY_BASE/lib/modules/tr/cap/f0.left.tree
tr.f0.cart.mid = MARY_BASE/lib/modules/tr/cap/f0.mid.tree
tr.f0.cart.right = MARY_BASE/lib/modules/tr/cap/f0.right.tree
tr.f0.featuredefinition = MARY_BASE/lib/modules/tr/cap/phoneUnitFeatureDefinition.txt

# Feature processor manager
featuremanager.classes.list = \
	marytts.features.FeatureProcessorManager(tr)
