##########################################################################
# Copyright (C) 2006 DFKI GmbH.
# All rights reserved. Use is subject to license terms.
#
# Permission is hereby granted, free of charge, to use and distribute
# this software and its documentation without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of this work, and to
# permit persons to whom this work is furnished to do so, subject to
# the following conditions:
# 
#  1. The code must retain the above copyright notice, this list of
#     conditions and the following disclaimer.
#  2. Any modifications must be clearly marked as such.
#  3. Original authors' names are not deleted.
#  4. The authors' names are not used to endorse or promote products
#     derived from this software without specific prior written
#     permission.
# 
# DFKI GMBH AND THE CONTRIBUTORS TO THIS WORK DISCLAIM ALL WARRANTIES WITH 
# REGARD TO THIS SOFTWARE, INCLUDING ALL IMPLIED WARRANTIES OF 
# MERCHANTABILITY AND FITNESS, IN NO EVENT SHALL DFKI GMBH NOR THE 
# CONTRIBUTORS BE LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL 
# DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR 
# PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS 
# ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF 
# THIS SOFTWARE.
##########################################################################
# MARY TTS configuration file.
##########################################################################

name = english
english.version = 3.5.0

# Declare "group names" as component that other components can require.
# These correspond to abstract "groups" of which this component is an instance.
provides = a-language

# List the dependencies, as a whitespace-separated list.
# We can require a component by name or by an abstract "group name" 
# as listed under the "provides" element.
requires = \
    marybase \
    english-voice
    
# For each required component, an optional minimum version and an optional
# download url can be given.
requires.marybase.version = 3.5.0
requires.english-voice.version = 3.5.0
requires.english-voice.download = http://mary.dfki.de/download/mary-install-3.x.x.jar
requires.english-voice.download.package-name = english-hmm-slt


###########################################################################
############################## The Modules  ###############################
###########################################################################
# For keys ending in ".list", values will be appended across config files,
# so that .list keys can occur in several config files.
# For all other keys, values will be copied to the global config, so
# keys should be unique across config files.


# Java classes to use as the modules, as a whitespace-separated list.
# These have to implement de.dfki.lt.mary.modules.MaryModule.
# For each input type + output type, only one Module may be listed
# across all components, or an Exception will be thrown.
# No particular order is required -- a processing pipeline from input data type
# to output data type will be computed on-line.

modules.classes.list = \
        de.dfki.lt.mary.modules.en.TextToMaryXML \
        de.dfki.lt.mary.modules.en.JTokeniser \
        de.dfki.lt.mary.modules.en.FreeTTSTokenToWords \
        de.dfki.lt.mary.modules.en.FreeTTSPartOfSpeechTagger \
        de.dfki.lt.mary.modules.en.FreeTTSSegmenter \
        de.dfki.lt.mary.modules.en.Prosody \
        de.dfki.lt.mary.modules.en.FreeTTSPostLexicalAnalyzer \
        de.dfki.lt.mary.modules.en.CARTDurationModeller \
        de.dfki.lt.mary.modules.en.SimplePhoneme2AP \
        de.dfki.lt.mary.modules.en.CARTF0Modeller \
        de.dfki.lt.mary.modules.en.Utt2XMLTokensEn \
        de.dfki.lt.mary.modules.en.Utt2XMLWordsEn \
        de.dfki.lt.mary.modules.en.Utt2XMLPosEn \
        de.dfki.lt.mary.modules.en.Utt2XMLSegmentsEn \
        de.dfki.lt.mary.modules.en.Utt2XMLIntonationEn \
        de.dfki.lt.mary.modules.en.Utt2XMLPostprocessedEn \
        de.dfki.lt.mary.modules.en.Utt2XMLDurationsEn \
        de.dfki.lt.mary.modules.en.XML2UttTokensEn \
        de.dfki.lt.mary.modules.en.XML2UttWordsEn \
        de.dfki.lt.mary.modules.en.XML2UttPosEn \
        de.dfki.lt.mary.modules.en.XML2UttSegmentsEn \
        de.dfki.lt.mary.modules.en.XML2UttIntonationEn \
        de.dfki.lt.mary.modules.en.XML2UttPostprocessedEn \
        de.dfki.lt.mary.modules.en.XML2UttDurationsEn

        de.dfki.lt.mary.modules.en.FreeTTSDurator \
        de.dfki.lt.mary.modules.en.FreeTTSDurationMbroliser \
        de.dfki.lt.mary.modules.en.ContourGenerator \
        de.dfki.lt.mary.modules.en.FreeTTSMbroliser \

####################################################################
####################### Module settings  ###########################
####################################################################

english.contourgenerator.tobirulefile = MARY_BASE/lib/modules/en/cap/tobirule-params-en.xml

english.phonemeset = MARY_BASE/lib/modules/en/cap/phoneme-list-en.xml

# Whether to apply paragraph declination intonation:
english.prosody.paragraphdeclination = true

# rules for prediction of ToBI tones
english.prosody.tobipredparams = MARY_BASE/lib/modules/en/prosody/tobipredparams_english.xml
# rules for accent priorities of pos
english.prosody.accentPriorities = MARY_BASE/lib/modules/en/prosody/POSAccentPriorities.en.properties

# copy the word accents to the first accented syllable
english.prosody.syllableaccents = true

# FreeTTS pos tags file for FreeTTSPOSTagger
english.freetts.posfile = MARY_BASE/lib/modules/en/cap/freetts-pos.txt

# FreeTTS phone set for EnglishUtteranceFeatProcManager
english.freetts.phoneSetFile = MARY_BASE/lib/modules/en/cap/freetts-phoneset.txt
 
# Defines how many units should be selected in cart on backtrace
# The higher the number, the closer synthesis comes to pure unit selection 
english.cart.backtrace = 500 

# An FST containing word frequencies, in bins from 1 (rare) to 9 (frequent)
english.wordFrequency.fst = MARY_BASE/lib/modules/en/prosody/wordFrequencies-en.fst
english.wordFrequency.encoding = ISO-8859-1

# Global prosody trees for English:
english.duration.cart = MARY_BASE/lib/modules/en/cap/dur.tree
english.duration.featuredefinition = MARY_BASE/lib/modules/en/cap/phoneUnitFeatureDefinition.txt
english.f0.cart.left = MARY_BASE/lib/modules/en/cap/f0.left.tree
english.f0.cart.mid = MARY_BASE/lib/modules/en/cap/f0.mid.tree
english.f0.cart.right = MARY_BASE/lib/modules/en/cap/f0.right.tree
english.f0.featuredefinition = MARY_BASE/lib/modules/en/cap/phoneUnitFeatureDefinition.txt
