# This voice is free for use for any purpose (commercial or otherwise)
# subject to the pretty light restrictions detailed below.
############################################################################
###                                                                       ##
###                     Carnegie Mellon University                        ##
###                         Copyright (c) 2003                            ##
###                        All Rights Reserved.                           ##
###                                                                       ##
###  Permission to use, copy, modify,  and licence this software and its  ##
###  documentation for any purpose, is hereby granted without fee,        ##
###  subject to the following conditions:                                 ##
###   1. The code must retain the above copyright notice, this list of    ##
###      conditions and the following disclaimer.                         ##
###   2. Any modifications must be clearly marked as such.                ##
###   3. Original authors' names are not deleted.                         ##
###                                                                       ##
###  THE AUTHORS OF THIS WORK DISCLAIM ALL WARRANTIES WITH REGARD TO      ##
###  THIS SOFTWARE, INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY   ##
###  AND FITNESS, IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY         ##
###  SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES            ##
###  WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN   ##
###  AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION,          ##
###  ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF       ##
###  THIS SOFTWARE.                                                       ##
###                                                                       ##
############################################################################
###                                                                       ##
###  See http://www.festvox.org/cmu_arctic/ for more details              ##
###                                                                       ##
############################################################################

##########################################################################
# MARY TTS configuration file.
##########################################################################

name = english-hmm-slt
english-voice.version = 3.5.0

# Declare "group names" as component that other components can require.
# These correspond to abstract "groups" of which this component is an instance.
provides = \
    english-voice \
    hmm-voice


# List the dependencies, as a whitespace-separated list.
# For each required component, an optional minimum version and an optional
# download url can be given.
# We can require a component by name or by an abstract "group name" 
# as listed under the "provides" element.
requires = \
    english \
    marybase \
    hmm

    
requires.english.version = 3.0.1
requires.english.download = http://mary.dfki.de/download/mary-install-3.x.x.jar
requires.marybase.version = 3.1.0
requires.marybase.download = http://mary.dfki.de/download/mary-install-3.x.x.jar
requires.hmm.version = 3.5.0


####################################################################
####################### Module settings  ###########################
####################################################################
# For keys ending in ".list", values will be appended across config files,
# so that .list keys can occur in several config files.
# For all other keys, values will be copied to the global config, so
# keys should be unique across config files.

hmm.voices.list = \
        hmm-slt \


# voice specifications
voice.hmm-slt.wants.to.be.default = 0
voice.hmm-slt.gender = male
voice.hmm-slt.locale = en_US


# Only set the lexicon for English
voice.hmm-slt.lexiconClass = com.sun.speech.freetts.en.us.CMULexicon
voice.hmm-slt.lexicon = cmudict04

# map sampa to mrpa
voice.hmm-slt.sampamapfile = MARY_BASE/lib/modules/en/synthesis/sampa2mrpa_en.map

# The following are settings of mixed excitation HMM voice trained with ARCTIC database
# unitfeatures/  copied from:
# /project/mary/work/unitselection/blizzard2007/full_voice/phonefeatures/*ARCTIC*
# dir unitlab/ copied from:
# /project/mary/work/unitselection/blizzard2007/full_voice/phonelab/*ARCTIC*

# information about trees
voice.hmm-slt.Ftd = MARY_BASE/lib/voices/hmm-slt/tree-dur.inf
voice.hmm-slt.Ftf = MARY_BASE/lib/voices/hmm-slt/tree-lf0.inf
voice.hmm-slt.Ftm = MARY_BASE/lib/voices/hmm-slt/tree-mcp.inf
voice.hmm-slt.Fts = MARY_BASE/lib/voices/hmm-slt/tree-str.inf
voice.hmm-slt.Fta = MARY_BASE/lib/voices/hmm-slt/tree-str.inf

# information about pdf's
voice.hmm-slt.Fmd = MARY_BASE/lib/voices/hmm-slt/dur.pdf
voice.hmm-slt.Fmf = MARY_BASE/lib/voices/hmm-slt/lf0.pdf
voice.hmm-slt.Fmm = MARY_BASE/lib/voices/hmm-slt/mcp.pdf
voice.hmm-slt.Fms = MARY_BASE/lib/voices/hmm-slt/str.pdf
voice.hmm-slt.Fma = MARY_BASE/lib/voices/hmm-slt/str.pdf

# input file, for testing...
voice.hmm-slt.Flab = MARY_BASE/lib/voices/hmm-slt/gen_EM001_ARCTIC_0001.lab

# Feature list file 
voice.hmm-slt.FeaList = MARY_BASE/lib/voices/hmm-slt/feature_list_en_05.pl

# filter coefficients for mixed excitation
# the format is for example if we have 5 filters each with 48 taps
# then the taps are in a vector
# tap[1][1]
# ...
# tap[1][48]
# tap[2][1]
# ...
# tap[2][48]
# ...
# tap[5][1]
# ...
# tap[5][48]
voice.hmm-slt.Fif = MARY_BASE/lib/voices/hmm-slt/mix_excitation_filters.txt
# Number of filters
voice.hmm-slt.in=5
# Number of taps per filter or filters order
voice.hmm-slt.io=48
