# This voice is free for use for any purpose (commercial or otherwise)
# subject to the pretty light restrictions detailed below.
############################################################################
###                                                                       ##
###                     Carnegie Mellon University                        ##
###                         Copyright (c) 2003                            ##
###                        All Rights Reserved.                           ##
###                                                                       ##
###  Permission to use, copy, modify,  and licence this software and its  ##
###  documentation for any purpose, is hereby granted without fee,        ##
###  subject to the following conditions:                                 ##
###   1. The code must retain the above copyright notice, this list of    ##
###      conditions and the following disclaimer.                         ##
###   2. Any modifications must be clearly marked as such.                ##
###   3. Original authors' names are not deleted.                         ##
###                                                                       ##
###  THE AUTHORS OF THIS WORK DISCLAIM ALL WARRANTIES WITH REGARD TO      ##
###  THIS SOFTWARE, INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY   ##
###  AND FITNESS, IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY         ##
###  SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES            ##
###  WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN   ##
###  AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION,          ##
###  ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF       ##
###  THIS SOFTWARE.                                                       ##
###                                                                       ##
############################################################################
###                                                                       ##
###  See http://www.festvox.org/cmu_arctic/ for more details              ##
###                                                                       ##
############################################################################

##########################################################################
# MARY TTS configuration file.
##########################################################################

name = english-bdl-arctic

# Declare "group names" as component that other components can require.
# These correspond to abstract "groups" of which this component is an instance.
provides = \
    english-voice

english-voice.version = 3.1.0


# List the dependencies, as a whitespace-separated list.
# For each required component, an optional minimum version and an optional
# download url can be given.
# We can require a component by name or by an abstract "group name" 
# as listed under the "provides" element.
requires = \
    english
    
requires.english.version = 3.1.0
requires.english.download = http://mary.dfki.de/download/mary-install-3.x.x.jar
requires.marybase.version = 3.1.0

####################################################################
####################### Module settings  ###########################
####################################################################
# For keys ending in ".list", values will be appended across config files,
# so that .list keys can occur in several config files.
# For all other keys, values will be copied to the global config, so
# keys should be unique across config files.

unitselection.voices.list = \
        bdl_arctic \

#        bdl_arctic \

# WITHOUT PITCH SHIFTS
# voice specifications
voice.bdl_arctic.wants.to.be.default = 45
voice.bdl_arctic.topline.start = 140
voice.bdl_arctic.topline.end = 110
voice.bdl_arctic.baseline.start = 95
voice.bdl_arctic.baseline.end = 85
voice.bdl_arctic.gender = male
voice.bdl_arctic.locale = en_US
voice.bdl_arctic.domain = general

# Only set the lexicon for English
voice.bdl_arctic.lexiconClass = com.sun.speech.freetts.en.us.CMULexicon
voice.bdl_arctic.lexicon = cmudict04

# Language-specific feature processor manager:
voice.bdl_arctic.featureProcessorsClass = de.dfki.lt.mary.unitselection.featureprocessors.en.FeatureProcessorManager

# Java classes to use for the various unit selection components
#voice.bdl_arctic.databaseClass            = de.dfki.lt.mary.unitselection.UnitDatabase
voice.bdl_arctic.databaseClass            = de.dfki.lt.mary.unitselection.DiphoneUnitDatabase
#voice.bdl_arctic.selectorClass            = de.dfki.lt.mary.unitselection.HalfPhoneUnitSelector
voice.bdl_arctic.selectorClass            = de.dfki.lt.mary.unitselection.DiphoneUnitSelector
#voice.bdl_arctic.concatenatorClass        = de.dfki.lt.mary.unitselection.LPCOverlapUnitConcatenator
voice.bdl_arctic.concatenatorClass        = de.dfki.lt.mary.unitselection.WaveOverlapUnitConcatenator
voice.bdl_arctic.targetCostClass          = de.dfki.lt.mary.unitselection.DiphoneFFRTargetCostFunction
voice.bdl_arctic.joinCostClass            = de.dfki.lt.mary.unitselection.JoinCostFeatures
voice.bdl_arctic.unitReaderClass          = de.dfki.lt.mary.unitselection.UnitFileReader
voice.bdl_arctic.cartReaderClass          = de.dfki.lt.mary.unitselection.cart.ClassificationTree
#voice.bdl_arctic.audioTimelineReaderClass = de.dfki.lt.mary.unitselection.LPCTimelineReader
voice.bdl_arctic.audioTimelineReaderClass = de.dfki.lt.mary.unitselection.TimelineReader

# Voice-specific files
voice.bdl_arctic.featureFile       = MARY_BASE/lib/voices/bdl_arctic/unitFeatures.mry
voice.bdl_arctic.targetCostWeights = MARY_BASE/lib/voices/bdl_arctic/weights.txt
voice.bdl_arctic.joinCostFile      = MARY_BASE/lib/voices/bdl_arctic/joinCostFeatures.mry
voice.bdl_arctic.joinCostWeights   = MARY_BASE/lib/voices/bdl_arctic/joinCostWeights.txt
#voice.bdl_arctic.precomputedJoinCostFile = MARY_BASE/lib/voices/bdl_arctic/joinCosts.mry
voice.bdl_arctic.unitsFile         = MARY_BASE/lib/voices/bdl_arctic/units.mry
voice.bdl_arctic.cartFile          = MARY_BASE/lib/voices/bdl_arctic/cart.mry
voice.bdl_arctic.audioTimelineFile = MARY_BASE/lib/voices/bdl_arctic/timeline_waveforms.mry
voice.bdl_arctic.basenameTimeline  = MARY_BASE/lib/voices/bdl_arctic/timeline_basenames.mry

# Leaf size for pre-selection
voice.bdl_arctic.cart.backtrace = 100


# map sampa to mrpa
voice.bdl_arctic.sampamapfile = MARY_BASE/lib/modules/en/synthesis/sampa2mrpa_en.map

