##########################################################################
# Copyright (C) 2006 DFKI GmbH.
# All rights reserved. Use is subject to license terms.
#
# Permission is hereby granted, free of charge, to use and distribute
# this software and its documentation without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of this work, and to
# permit persons to whom this work is furnished to do so, subject to
# the following conditions:
# 
#  1. The code must retain the above copyright notice, this list of
#     conditions and the following disclaimer.
#  2. Any modifications must be clearly marked as such.
#  3. Original authors' names are not deleted.
#  4. The authors' names are not used to endorse or promote products
#     derived from this software without specific prior written
#     permission.
# 
# DFKI GMBH AND THE CONTRIBUTORS TO THIS WORK DISCLAIM ALL WARRANTIES WITH 
# REGARD TO THIS SOFTWARE, INCLUDING ALL IMPLIED WARRANTIES OF 
# MERCHANTABILITY AND FITNESS, IN NO EVENT SHALL DFKI GMBH NOR THE 
# CONTRIBUTORS BE LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL 
# DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR 
# PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS 
# ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF 
# THIS SOFTWARE.
##########################################################################
# MARY TTS configuration file.
##########################################################################

name = english-targetfeatures
english-targetfeatures.version = 3.5.0

# List the dependencies, as a whitespace-separated list.
# We can require a component by name or by an abstract "group name" 
# as listed under the "provides" element.
requires = \
    marybase \
    english
    
# For each required component, an optional minimum version and an optional
# download url can be given.
#requires.marybase.version = 3.5.0
#requires.english.version = 3.5.0

###########################################################################
############################## The Modules  ###############################
###########################################################################
# For keys ending in ".list", values will be appended across config files,
# so that .list keys can occur in several config files.
# For all other keys, values will be copied to the global config, so
# keys should be unique across config files.


# Java classes to use as the modules, as a whitespace-separated list.
# These have to implement de.dfki.lt.mary.modules.MaryModule.
# For each input type + output type, only one Module may be listed
# across all components, or an Exception will be thrown.
# No particular order is required -- a processing pipeline from input data type
# to output data type will be computed on-line.

modules.classes.list = \
        de.dfki.lt.mary.modules.TargetFeatureLister

####################################################################
####################### Module settings  ###########################
####################################################################

english.targetfeaturelister.featuremanager = \
        de.dfki.lt.mary.unitselection.featureprocessors.en.FeatureProcessorManager

english.targetfeaturelister.features = \
        mary_phoneme \
        mary_edge \
        mary_ph_vc \
        mary_ph_cplace \
        mary_ph_ctype \
        mary_ph_cvox \
        mary_ph_vfront \
        mary_ph_vheight \
        mary_ph_vlng \
        mary_ph_vrnd \
        mary_prev_phoneme \
        mary_prev_vc \
        mary_prev_cplace \
        mary_prev_ctype \
        mary_prev_cvox \
        mary_prev_vfront \
        mary_prev_vheight \
        mary_prev_vlng \
        mary_prev_vrnd \
        mary_next_phoneme \
        mary_next_vc \
        mary_next_cplace \
        mary_next_ctype \
        mary_next_cvox \
        mary_next_vfront \
        mary_next_vheight \
        mary_next_vlng \
        mary_next_vrnd \
		mary_stressed \
		mary_pos_in_syl \
		mary_syl_break \
		mary_prev_syl_break \
		mary_position_type \
		mary_next_is_pause \
		mary_prev_is_pause \
		mary_gpos \
		mary_tobi_accent \
		mary_tobi_endtone \
		mary_next_tobi_accent \
		mary_next_tobi_endtone \
		mary_nextnext_tobi_accent \
		mary_nextnext_tobi_endtone \
		mary_sentence_punc \
		mary_accented \
				\
		mary_sentence_numphrases \
		mary_phrases_from_sentence_start \
		mary_phrases_from_sentence_end \
		mary_sentence_numwords \
		mary_words_from_sentence_start \
		mary_words_from_sentence_end \
		mary_phrase_numwords \
		mary_words_from_phrase_start \
		mary_words_from_phrase_end \
		mary_phrase_numsyls \
		mary_syls_from_phrase_start \
		mary_syls_from_phrase_end \
		mary_stressed_syls_from_phrase_start \
		mary_stressed_syls_from_phrase_end \
		mary_accented_syls_from_phrase_start \
		mary_accented_syls_from_phrase_end \
		mary_word_numsyls \
		mary_syls_from_word_start \
		mary_syls_from_word_end \
		mary_word_numsegs \
		mary_segs_from_word_start \
		mary_segs_from_word_end \
		mary_syl_numsegs \
		mary_segs_from_syl_start \
		mary_segs_from_syl_end \
		mary_syls_from_prev_stressed \
		mary_syls_to_next_stressed \
		mary_syls_from_prev_accent \
		mary_syls_to_next_accent \
		\
		mary_phrase_endtone \
		mary_prev_phrase_endtone \
		mary_next_accent \
		mary_prev_accent \
		mary_prev_punctuation \
		mary_next_punctuation \
		mary_words_from_prev_punctuation \
		mary_words_to_next_punctuation \
		mary_word_frequency \
                mary_unit_duration \
                mary_unit_logf0
