##########################################################################
# Copyright (C) 2006 DFKI GmbH.
# All rights reserved. Use is subject to license terms.
#
# Permission is hereby granted, free of charge, to use and distribute
# this software and its documentation without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of this work, and to
# permit persons to whom this work is furnished to do so, subject to
# the following conditions:
# 
#  1. The code must retain the above copyright notice, this list of
#     conditions and the following disclaimer.
#  2. Any modifications must be clearly marked as such.
#  3. Original authors' names are not deleted.
#  4. The authors' names are not used to endorse or promote products
#     derived from this software without specific prior written
#     permission.
# 
# DFKI GMBH AND THE CONTRIBUTORS TO THIS WORK DISCLAIM ALL WARRANTIES WITH 
# REGARD TO THIS SOFTWARE, INCLUDING ALL IMPLIED WARRANTIES OF 
# MERCHANTABILITY AND FITNESS, IN NO EVENT SHALL DFKI GMBH NOR THE 
# CONTRIBUTORS BE LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL 
# DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR 
# PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS 
# ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF 
# THIS SOFTWARE.
##########################################################################
# MARY TTS configuration file.
##########################################################################

name = english-targetfeatures
english-targetfeatures.version = 3.5.0

# List the dependencies, as a whitespace-separated list.
# We can require a component by name or by an abstract "group name" 
# as listed under the "provides" element.
requires = \
    marybase \
    english
    
# For each required component, an optional minimum version and an optional
# download url can be given.
#requires.marybase.version = 3.5.0
#requires.english.version = 3.5.0

###########################################################################
############################## The Modules  ###############################
###########################################################################
# For keys ending in ".list", values will be appended across config files,
# so that .list keys can occur in several config files.
# For all other keys, values will be copied to the global config, so
# keys should be unique across config files.


# Java classes to use as the modules, as a whitespace-separated list.
# These have to implement de.dfki.lt.mary.modules.MaryModule.
# For each input type + output type, only one Module may be listed
# across all components, or an Exception will be thrown.
# No particular order is required -- a processing pipeline from input data type
# to output data type will be computed on-line.

modules.classes.list = \
        marytts.modules.TargetFeatureLister

####################################################################
####################### Module settings  ###########################
####################################################################

english.targetfeaturelister.featuremanager = \
        marytts.language.en.features.FeatureProcessorManager

english.targetfeaturelister.features = \
        phoneme \
        edge \
        ph_vc \
        ph_cplace \
        ph_ctype \
        ph_cvox \
        ph_vfront \
        ph_vheight \
        ph_vlng \
        ph_vrnd \
        prev_phoneme \
        prev_vc \
        prev_cplace \
        prev_ctype \
        prev_cvox \
        prev_vfront \
        prev_vheight \
        prev_vlng \
        prev_vrnd \
        prev_prev_phoneme \
        prev_prev_vc \
        prev_prev_cplace \
        prev_prev_ctype \
        prev_prev_cvox \
        prev_prev_vfront \
        prev_prev_vheight \
        prev_prev_vlng \
        prev_prev_vrnd \
        next_phoneme \
        next_vc \
        next_cplace \
        next_ctype \
        next_cvox \
        next_vfront \
        next_vheight \
        next_vlng \
        next_vrnd \
        next_next_phoneme \
        next_next_vc \
        next_next_cplace \
        next_next_ctype \
        next_next_cvox \
        next_next_vfront \
        next_next_vheight \
        next_next_vlng \
        next_next_vrnd \
		stressed \
		pos_in_syl \
		syl_break \
		prev_syl_break \
		position_type \
		next_is_pause \
		prev_is_pause \
		gpos \
		tobi_accent \
		tobi_endtone \
		next_tobi_accent \
		next_tobi_endtone \
		nextnext_tobi_accent \
		nextnext_tobi_endtone \
		sentence_punc \
		accented \
				\
		sentence_numphrases \
		phrases_from_sentence_start \
		phrases_from_sentence_end \
		sentence_numwords \
		words_from_sentence_start \
		words_from_sentence_end \
		phrase_numwords \
		words_from_phrase_start \
		words_from_phrase_end \
		phrase_numsyls \
		syls_from_phrase_start \
		syls_from_phrase_end \
		stressed_syls_from_phrase_start \
		stressed_syls_from_phrase_end \
		accented_syls_from_phrase_start \
		accented_syls_from_phrase_end \
		word_numsyls \
		syls_from_word_start \
		syls_from_word_end \
		word_numsegs \
		segs_from_word_start \
		segs_from_word_end \
		syl_numsegs \
		segs_from_syl_start \
		segs_from_syl_end \
		syls_from_prev_stressed \
		syls_to_next_stressed \
		syls_from_prev_accent \
		syls_to_next_accent \
		\
		phrase_endtone \
		prev_phrase_endtone \
		next_accent \
		prev_accent \
		prev_punctuation \
		next_punctuation \
		words_from_prev_punctuation \
		words_to_next_punctuation \
		word_frequency \
        unit_duration \
        unit_logf0 \
        selection_prosody

