##########################################################################
# Copyright (C) 2007 DFKI GmbH.
# All rights reserved. Use is subject to license terms.
#
# Permission is hereby granted, free of charge, to use and distribute
# this software and its documentation without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of this work, and to
# permit persons to whom this work is furnished to do so, subject to
# the following conditions:
#
#  1. The code must retain the above copyright notice, this list of
#     conditions and the following disclaimer.
#  2. Any modifications must be clearly marked as such.
#  3. Original authors' names are not deleted.
#  4. The authors' names are not used to endorse or promote products
#     derived from this software without specific prior written
#     permission.
#
# DFKI GMBH AND THE CONTRIBUTORS TO THIS WORK DISCLAIM ALL WARRANTIES WITH
# REGARD TO THIS SOFTWARE, INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS, IN NO EVENT SHALL DFKI GMBH NOR THE
# CONTRIBUTORS BE LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL
# DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR
# PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS
# ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF
# THIS SOFTWARE.
##########################################################################
#Auto-generated config file for voice hmm-slt

name = english-hmm-slt
english-voice.version = 3.5.0
voice.version = 3.5.0

# Declare "group names" as component that other components can require.
# These correspond to abstract "groups" of which this component is an instance.
provides = \
         english-voice \
         hmm-voice

# List the dependencies, as a whitespace-separated list.
# For each required component, an optional minimum version and an optional
# download url can be given.
# We can require a component by name or by an abstract "group name"
# as listed under the "provides" element.
requires = \
   english \
   marybase \
   english-targetfeatures \
   hmm 


requires.marybase.version = 3.1.0
requires.marybase.download = http://mary.dfki.de/download/mary-install-3.x.x.jar
requires.english.version = 3.1.0
requires.english.download = http://mary.dfki.de/download/mary-install-3.x.x.jar
requires.hmm.version = 3.5.0

####################################################################
####################### Module settings  ###########################
####################################################################
# For keys ending in ".list", values will be appended across config files,
# so that .list keys can occur in several config files.
# For all other keys, values will be copied to the global config, so
# keys should be unique across config files.

hmm.voices.list = \
   hmm-slt

# If this setting is not present, a default value of 0 is assumed.
voice.hmm-slt.wants.to.be.default = 0

# Set your voice specifications
voice.hmm-slt.gender = female
voice.hmm-slt.locale = en_US
voice.hmm-slt.domain = general
voice.hmm-slt.samplingRate = 16000

# Only set the lexicon for English
voice.hmm-slt.lexiconClass = com.sun.speech.freetts.en.us.CMULexicon
voice.hmm-slt.lexicon = cmudict04

# Phoneme conversion for English voices 
voice.hmm-slt.sampamapfile = MARY_BASE/lib/modules/en/synthesis/sampa2mrpa_en.map


# HMM Voice-specific files
# Information about trees
voice.hmm-slt.Ftd = MARY_BASE/lib/voices/hmm-slt/tree-dur.inf
voice.hmm-slt.Ftf = MARY_BASE/lib/voices/hmm-slt/tree-lf0.inf
voice.hmm-slt.Ftm = MARY_BASE/lib/voices/hmm-slt/tree-mgc.inf
voice.hmm-slt.Fts = MARY_BASE/lib/voices/hmm-slt/tree-str.inf


# Information about means and variances PDFs 
voice.hmm-slt.Fmd = MARY_BASE/lib/voices/hmm-slt/dur.pdf
voice.hmm-slt.Fmf = MARY_BASE/lib/voices/hmm-slt/lf0.pdf
voice.hmm-slt.Fmm = MARY_BASE/lib/voices/hmm-slt/mgc.pdf
voice.hmm-slt.Fms = MARY_BASE/lib/voices/hmm-slt/str.pdf


# Information about Global Mean and Variance PDFs
voice.hmm-slt.useGV = true
voice.hmm-slt.Fgvf = MARY_BASE/lib/voices/hmm-slt/gv-lf0-littend.pdf
voice.hmm-slt.Fgvm = MARY_BASE/lib/voices/hmm-slt/gv-mgc-littend.pdf
voice.hmm-slt.Fgvs = MARY_BASE/lib/voices/hmm-slt/gv-str-littend.pdf


# File for testing the HMMSynthesiser, example of a file in HTSCONTEXT format
voice.hmm-slt.FLab = MARY_BASE/lib/voices/hmm-slt/gen_cmu_us_arctic_slt_a0001.lab

# Requested features for the fullcontext names and tree questions 
voice.hmm-slt.FeaList = MARY_BASE/lib/voices/hmm-slt/feature_list_en_05.pl


# Filter taps of bandpass filters for mixed excitation 
# File format: for example if we have 5 filters each with 48 taps 
# then the taps are in a vector 
# tap[1][1] 
# ... 
# tap[1][48] 
# tap[2][1] 
# ... 
# tap[2][48] 
# ... 
# tap[5][1] 
# ... 
# tap[5][48] 
voice.hmm-slt.Fif = MARY_BASE/lib/voices/hmm-slt/mix_excitation_filters.txt
# Number of filters in bandpass bank, default 5 filters 
voice.hmm-slt.in = 5
# Number of taps in bandpass filters, default 48 taps 
voice.hmm-slt.io = 48
