##########################################################################
# MARY TTS configuration file it.config
##########################################################################

name = it
it.version = 0.1.0

provides = a-language

requires = \
    marybase


###########################################################################
############################## The Modules  ###############################
###########################################################################
modules.classes.list = \
        marytts.modules.JPhonemiser(it.)  \
        marytts.modules.MinimalisticPosTagger(it,it.) \


####################################################################
####################### Module settings  ###########################
####################################################################

# Phonemiser settings
it.allophoneset = MARY_BASE/lib/modules/it/lexicon/allophones.it.xml
it.lexicon = MARY_BASE/lib/modules/it/lexicon/it_lexicon.fst
it.lettertosound = MARY_BASE/lib/modules/it/lexicon/it.lts
#it.userdict = MARY_BASE/lib/modules/it/lexicon/userdict.txt

# POS tagger settings
it.partsofspeech.fst = MARY_BASE/lib/modules/it/tagger/it_pos.fst
it.partsofspeech.punctuation = ,.?!;


