##########################################################################
# MARY TTS configuration file it.config
##########################################################################

name = it
it.version = 4.3.0

provides = a-language

requires = \
    marybase


###########################################################################
############################## The Modules  ###############################
###########################################################################
modules.classes.list = \
        marytts.modules.JPhonemiser(it.)  \
        marytts.modules.OpenNLPPosTagger(it,it.pos) \



####################################################################
####################### Module settings  ###########################
####################################################################

# Phonemiser settings
it.allophoneset = MARY_BASE/lib/modules/it/lexicon/allophones.it.xml
it.lexicon = MARY_BASE/lib/modules/it/lexicon/it_lexicon.fst
it.lettertosound = MARY_BASE/lib/modules/it/lexicon/it.lts
#it.userdict = MARY_BASE/lib/modules/it/lexicon/userdict.txt

# POS tagger settings
it.pos.model = MARY_BASE/lib/modules/it/tagger/italian.postagger141.g0_p0_m0.model.bin.gz
#it.pos.tagdict = MARY_BASE/lib/modules/it/tagger/tagdict
#it.pos.tagdict.isCaseSensitive = false

it.partsofspeech.punctuation = ,.?!;


# Feature processor manager
featuremanager.classes.list = \
	marytts.features.FeatureProcessorManager(it)
