##########################################################################
# MARY TTS configuration file it.config
##########################################################################

name = it
it.version = 4.3.0

provides = a-language

requires = \
    marybase


###########################################################################
############################## The Modules  ###############################
###########################################################################
modules.classes.list = \
        marytts.language.it.JTokeniser \
        marytts.language.it.Preprocess \
        marytts.modules.JPhonemiser(it.) \
        marytts.modules.OpenNLPPosTagger(it,it.pos) \
        marytts.language.it.Prosody \
	    marytts.language.it.Postlex

#marytts.modules.MinimalisticPosTagger(it,it.) \        
#marytts.modules.OpenNLPPosTagger(it,it.pos) \

####################################################################
####################### Module settings  ###########################
####################################################################

# Phonemiser settings
it.allophoneset = MARY_BASE/lib/modules/it/lexicon/allophones.it.xml
it.lexicon = MARY_BASE/lib/modules/it/lexicon/it_lexicon.fst
it.lettertosound = MARY_BASE/lib/modules/it/lexicon/it.lts
it.userdict = MARY_BASE/lib/modules/it/lexicon/userdict.txt

# Minimalistic POS tagger settings
#it.partsofspeech.fst = MARY_BASE/lib/modules/it/tagger/it_pos.fst
#it.partsofspeech.punctuation = ,.?!;

# OpenNLP POS tagger settings
it.pos.model = MARY_BASE/lib/modules/it/tagger/italian.postagger141.g0_p0_m0.model.bin.gz
#it.pos.tagdict = MARY_BASE/lib/modules/it/tagger/tagdict
#it.pos.tagdict.isCaseSensitive = true
it.pos.deterministic_symbols_tagdict = MARY_BASE/lib/modules/it/tagger/deterministic_tagdict
it.pos.deterministic_symbols_tagdict.isCaseSensitive = true


# simple italian prosody model settings  
it.prosody.tobipredparams = MARY_BASE/lib/modules/it/prosody/tobipredparams_italian.xml
# rules for accent priorities of pos
it.prosody.accentPriorities  = MARY_BASE/lib/modules/it/prosody/POSAccentPriorities.it.properties
it.prosody.paragraphdeclination = true
# copy the word accents to the first accented syllable
it.prosody.syllableaccents = true


# Feature processor manager
featuremanager.classes.list = \
	marytts.features.FeatureProcessorManager(it)
