# Config file for DatabaseImportMain
# Determines which voice import components are loaded

group raw_acoustics Raw Acoustics

de.dfki.lt.mary.unitselection.voiceimport.PraatPitchmarker raw_acoustics
de.dfki.lt.mary.unitselection.voiceimport.SnackPitchmarker raw_acoustics
de.dfki.lt.mary.unitselection.voiceimport.MCEPMaker raw_acoustics

group transcripts Transcripts Convertion

de.dfki.lt.mary.unitselection.voiceimport.Mary2FestvoxTranscripts transcripts
de.dfki.lt.mary.unitselection.voiceimport.Festvox2MaryTranscripts transcripts

group text_features Feature Extraction

de.dfki.lt.mary.unitselection.voiceimport.PhoneUnitFeatureComputer text_features
de.dfki.lt.mary.unitselection.voiceimport.HalfPhoneUnitFeatureComputer text_features
de.dfki.lt.mary.unitselection.voiceimport.PhonemisedXML text_features

group labeling Automatic Labeling 

de.dfki.lt.mary.unitselection.voiceimport.EHMMLabeler labeling
de.dfki.lt.mary.unitselection.voiceimport.LabelPauseDeleter labeling

group labels_features Labels and Pause Correction 

de.dfki.lt.mary.unitselection.voiceimport.LabelledFilesInspector labels_features
de.dfki.lt.mary.unitselection.voiceimport.CorrectedTranscriptionAligner labels_features
de.dfki.lt.mary.unitselection.voiceimport.PhonemisedtoFeatureVector labels_features
de.dfki.lt.mary.unitselection.voiceimport.PhoneUnitLabelComputer labels_features
de.dfki.lt.mary.unitselection.voiceimport.PhoneLabelFeatureAligner labels_features
de.dfki.lt.mary.unitselection.voiceimport.PhonemisedtoHalfPhoneFV labels_features
de.dfki.lt.mary.unitselection.voiceimport.HalfPhoneUnitLabelComputer labels_features
de.dfki.lt.mary.unitselection.voiceimport.HalfPhoneLabelFeatureAligner labels_features
de.dfki.lt.mary.unitselection.voiceimport.QualityControl labels_features
                
group basic_data Basic Data Files

de.dfki.lt.mary.unitselection.voiceimport.WaveTimelineMaker basic_data
de.dfki.lt.mary.unitselection.voiceimport.BasenameTimelineMaker basic_data
de.dfki.lt.mary.unitselection.voiceimport.MCepTimelineMaker basic_data

group acoustic_models Acoustic Models

de.dfki.lt.mary.unitselection.voiceimport.PhoneUnitfileWriter acoustic_models
de.dfki.lt.mary.unitselection.voiceimport.PhoneFeatureFileWriter acoustic_models
de.dfki.lt.mary.unitselection.voiceimport.DurationCARTTrainer acoustic_models
de.dfki.lt.mary.unitselection.voiceimport.F0CARTTrainer acoustic_models

group us_files Unit Selection Files

de.dfki.lt.mary.unitselection.voiceimport.HalfPhoneUnitfileWriter us_files
de.dfki.lt.mary.unitselection.voiceimport.HalfPhoneFeatureFileWriter us_files
de.dfki.lt.mary.unitselection.voiceimport.JoinCostFileMaker us_files
de.dfki.lt.mary.unitselection.voiceimport.JoinModeller us_files
de.dfki.lt.mary.unitselection.voiceimport.AcousticFeatureFileWriter us_files
de.dfki.lt.mary.unitselection.voiceimport.CARTBuilder us_files
de.dfki.lt.mary.unitselection.voiceimport.CARTPruner us_files

group hts_trainer HMM Voice Trainer

de.dfki.lt.mary.unitselection.voiceimport.HMMVoiceDataPreparation hts_trainer
de.dfki.lt.mary.unitselection.voiceimport.HMMVoiceConfigure hts_trainer
de.dfki.lt.mary.unitselection.voiceimport.HMMVoiceMakeData hts_trainer
de.dfki.lt.mary.unitselection.voiceimport.HMMVoiceMakeVoice hts_trainer

group install Install Voice

de.dfki.lt.mary.unitselection.voiceimport.VoiceInstaller install
de.dfki.lt.mary.unitselection.voiceimport.HMMVoiceInstaller install
