##########################################################################
# MARY TTS configuration file it.config
##########################################################################

name = it
it.version = 5.1.0

locale = it

###########################################################################
############################## The Modules  ###############################
###########################################################################
modules.classes.list = \
        marytts.language.it.JTokeniser \
        marytts.language.it.Preprocess \
        marytts.modules.JPhonemiser(it.) \
        marytts.modules.OpenNLPPosTagger(it,it.pos) \
        marytts.language.it.Prosody \
        marytts.language.it.Postlex \


#        marytts.modules.MinimalisticPosTagger(it,it.) \
#        marytts.language.it.JTokeniser \
#        marytts.language.it.Preprocess \
#        marytts.modules.JPhonemiser(it.) \
#        marytts.language.it.Prosody \
#        marytts.language.it.Postlex \
#marytts.modules.MinimalisticPosTagger(it,it.) \
#marytts.modules.OpenNLPPosTagger(it,it.pos) \

####################################################################
####################### Module settings  ###########################
####################################################################

# Phonemiser settings
it.allophoneset = jar:/marytts/language/it/lexicon/allophones.it.xml
it.lexicon = jar:/marytts/language/it/lexicon/it_lexicon.fst
it.lettertosound = jar:/marytts/language/it/lexicon/it.lts
it.removeTrailingOneFromPhones = false
#it.userdict = MARY_BASE/user-dictionaries/userdict-it.txt

# Minimalistic POS tagger settings
it.partsofspeech.fst = jar:/marytts/language/it/tagger/it_pos.fst
it.partsofspeech.punctuation = ,.?!;

# OpenNLP POS tagger settings
it.pos.model = jar:/marytts/language/it/tagger/it-pos-maxent-151.g0_p0_m0.bin.model
#it.pos.tagdict = jar:/marytts/language/it/tagger/tagdict
#it.pos.tagdict.isCaseSensitive = true
it.pos.deterministic_symbols_tagdict = jar:/marytts/language/it/tagger/deterministic_tagdict
it.pos.deterministic_symbols_tagdict.isCaseSensitive = true
it.pos.punct.regex = FB|FC|FF|FS

# simple italian prosody model settings  
it.prosody.tobipredparams = jar:/marytts/language/it/prosody/tobipredparams_italian.xml
# rules for accent priorities of pos
it.prosody.accentPriorities  = jar:/marytts/language/it/prosody/POSAccentPriorities.it.properties
it.prosody.paragraphdeclination = true
# copy the word accents to the first accented syllable
it.prosody.syllableaccents = true


# Feature processor manager
featuremanager.classes.list = \
	marytts.features.FeatureProcessorManager(it)
