# This voice is free for use for any purpose (commercial or otherwise)
# subject to the pretty light restrictions detailed below.
############################################################################
###                                                                       ##
###                     Carnegie Mellon University                        ##
###                         Copyright (c) 2003                            ##
###                        All Rights Reserved.                           ##
###                                                                       ##
###  Permission to use, copy, modify,  and licence this software and its  ##
###  documentation for any purpose, is hereby granted without fee,        ##
###  subject to the following conditions:                                 ##
###   1. The code must retain the above copyright notice, this list of    ##
###      conditions and the following disclaimer.                         ##
###   2. Any modifications must be clearly marked as such.                ##
###   3. Original authors' names are not deleted.                         ##
###                                                                       ##
###  THE AUTHORS OF THIS WORK DISCLAIM ALL WARRANTIES WITH REGARD TO      ##
###  THIS SOFTWARE, INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY   ##
###  AND FITNESS, IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY         ##
###  SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES            ##
###  WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN   ##
###  AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION,          ##
###  ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF       ##
###  THIS SOFTWARE.                                                       ##
###                                                                       ##
############################################################################
###                                                                       ##
###  See http://www.festvox.org/cmu_arctic/ for more details              ##
###                                                                       ##
############################################################################

##########################################################################
# MARY TTS configuration file.
##########################################################################

name = <language>-<voicename>
<language>-<voicename>.version = 3.1.0

# Declare "group names" as component that other components can require.
# These correspond to abstract "groups" of which this component is an instance.
provides = \
    <language>-voice \
    <language>-freetts-voice
    

# List the dependencies, as a whitespace-separated list.
# For each required component, an optional minimum version and an optional
# download url can be given.
# We can require a component by name or by an abstract "group name" 
# as listed under the "provides" element.
requires = \
    <language>
    
requires.<language>.version = 3.0.1
requires.<language>.download = http://mary.dfki.de/download/mary-install-3.x.x.jar
requires.marybase.version = 3.1.0
requires.marybase.download = http://mary.dfki.de/download/mary-install-3.x.x.jar

####################################################################
####################### Module settings  ###########################
####################################################################
# For keys ending in ".list", values will be appended across config files,
# so that .list keys can occur in several config files.
# For all other keys, values will be copied to the global config, so
# keys should be unique across config files.

unitselection.voices.list = \
        <voicename> \

# WITHOUT PITCH SHIFTS
# voice specifications
voice.<voicename>.wants.to.be.default = 45
voice.<voicename>.topline.start = 140
voice.<voicename>.topline.end = 110
voice.<voicename>.baseline.start = 95
voice.<voicename>.baseline.end = 85
voice.<voicename>.gender = <gender>
voice.<voicename>.locale = <de, en_US>
voice.<voicename>.domain = <general, limited>

# Only set the lexicon for english voices
voice.<voicename>.lexiconClass = com.sun.speech.freetts.en.us.CMULexicon
voice.<voicename>.lexicon = cmudict04

# Language-specific feature processor manager:
# for english:
#voice.<voicename>.featureProcessorsClass = de.dfki.lt.mary.unitselection.featureprocessors.en.FeatureProcessorManager
# for german:
#voice.<voicename>.featureProcessorsClass = de.dfki.lt.mary.unitselection.featureprocessors.de.FeatureProcessorManager

# Java classes to use for the various unit selection components
voice.<voicename>.databaseClass            = de.dfki.lt.mary.unitselection.DiphoneUnitDatabase
voice.<voicename>.selectorClass            = de.dfki.lt.mary.unitselection.DiphoneUnitSelector
voice.<voicename>.concatenatorClass        = de.dfki.lt.mary.unitselection.WaveOverlapUnitConcatenator
voice.<voicename>.targetCostClass          = de.dfki.lt.mary.unitselection.DiphoneFFRTargetCostFunction
voice.<voicename>.joinCostClass            = de.dfki.lt.mary.unitselection.JoinCostFeatures
voice.<voicename>.unitReaderClass          = de.dfki.lt.mary.unitselection.UnitFileReader
voice.<voicename>.cartReaderClass          = de.dfki.lt.mary.unitselection.cart.CARTWagonFormat
voice.<voicename>.audioTimelineReaderClass = de.dfki.lt.mary.unitselection.TimelineReader

# Voice-specific files
voice.<voicename>.featureFile       = MARY_BASE/lib/voices/<voicedirectory>/unitFeatures.mry
#voice.<voicename>.targetCostWeights = MARY_BASE/lib/voices/<voicedirectory>/weights.txt
voice.<voicename>.joinCostFile      = MARY_BASE/lib/voices/<voicedirectory>/joinCostFeatures.mry
voice.<voicename>.joinCostWeights   = MARY_BASE/lib/voices/<voicedirectory>/joinCostWeights.txt
voice.<voicename>.precomputedJoinCostFile = MARY_BASE/lib/voices/<voicedirectory>/joinCosts.mry
voice.<voicename>.unitsFile         = MARY_BASE/lib/voices/<voicedirectory>/units.mry
voice.<voicename>.cartFile          = MARY_BASE/lib/voices/<voicedirectory>/cart.mry
voice.<voicename>.audioTimelineFile = MARY_BASE/lib/voices/<voicedirectory>/timeline_waveforms.mry
voice.<voicename>.basenameTimeline  = MARY_BASE/lib/voices/<voicedirectory>/timeline_basenames.mry

# For limited domain voices: Location of example text
#voice.<voicename>.exampleTextFile = MARY_BASE/lib/voices/<voicedirectory>/<filename>.examples

# Leaf size for pre-selection
voice.<voicename>.cart.backtrace = 100


# for english voices: map sampa to mrpa
voice.<voicename>.sampamapfile = MARY_BASE/lib/modules/en/synthesis/sampa2mrpa_en.map

# for german voices: sampa simplification
# voice.<voicename>.sampamap = \
#    =6->6 \
#    =n->n \
#    =m->m \
#    =N->N \
#    =l->l \
#    i->i: \
#    e->e: \
#    u->u: \
#    o->o: 

