##########################################################################
# Copyright (C) 2006 DFKI GmbH.
# All rights reserved. Use is subject to license terms.
#
# Permission is hereby granted, free of charge, to use and distribute
# this software and its documentation without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of this work, and to
# permit persons to whom this work is furnished to do so, subject to
# the following conditions:
# 
#  1. The code must retain the above copyright notice, this list of
#     conditions and the following disclaimer.
#  2. Any modifications must be clearly marked as such.
#  3. Original authors' names are not deleted.
#  4. The authors' names are not used to endorse or promote products
#     derived from this software without specific prior written
#     permission.
# 
# DFKI GMBH AND THE CONTRIBUTORS TO THIS WORK DISCLAIM ALL WARRANTIES WITH 
# REGARD TO THIS SOFTWARE, INCLUDING ALL IMPLIED WARRANTIES OF 
# MERCHANTABILITY AND FITNESS, IN NO EVENT SHALL DFKI GMBH NOR THE 
# CONTRIBUTORS BE LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL 
# DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR 
# PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS 
# ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF 
# THIS SOFTWARE.
##########################################################################
# This is a template for the MARY TTS configuration file 
# of a Cluster Unit Selection Voice
#
# Change the name and the values in angle brackets
##########################################################################

name = <clunits-voice-template>
<clunits-voice-template>.version = 3.0.0

# Declare "group names" as component that other components can require.
# These correspond to abstract "groups" of which this component is an instance.
provides = \
    <language>-voice

# List the dependencies, as a whitespace-separated list.
# For each required component, an optional minimum version and an optional
# download url can be given.
# We can require a component by name or by an abstract "group name" 
# as listed under the "provides" element.
requires = \
    <language>
    
requires.<language>.version = 3.0.0

####################################################################
####################### Module settings  ###########################
####################################################################
# For keys ending in ".list", values will be appended across config files,
# so that .list keys can occur in several config files.
# For all other keys, values will be copied to the global config, so
# keys should be unique across config files.

# Add your voice to the list of Unit Selection Voices
unitselection.voices.list = \
        <voicename>

# Set your voice specifications
voice.<voicename>.gender = <male, female>
voice.<voicename>.locale = <de, en_US>
voice.<voicename>.domain = <limited, general>
voice.<voicename>.samplingRate = <16000>

# Location of example text (only for limited domain voice)
voice.<voicename>.exampleTextFile = MARY_BASE/lib/voices/<voice-directory>/<filename>.examples

# Only set the lexicon for English
voice.<voicename>.lexicon = <cmudict04 for english>

# Location of .bin file
voice.<voicename>.databaseFile = MARY_BASE/lib/voices/<voice-directory>/<filename>.bin

# Location of .catalogue file
voice.<voicename>.unitCatalogue = MARY_BASE/lib/voices/<voice-directory>/<filename>.catalogue

# Chose the processor of your language
voice.<voicename>.featureProcessorsClass = de.dfki.lt.mary.unitselection.featureprocessors.de.UtteranceFeatProcManager_<de,en>

# Phoneme conversion:
# Mary uses the sampa representation for phonemes. If you use
# another representation, either write a conversion map in this
# file like this (this is used by some German voices):
#voice.<voicename>.sampamap = \
#    =6->6 \
#    =n->n \
#    =m->m \
#    =N->N \
#    =l->l \
#    i->i: \
#    e->e: \
#    u->u: \
#    o->o: \ 
# or write the conversion map into an external file
# and load it like this(if you use MRPA, you can 
# actually use this file):
#voice.<voicename>.sampamapfile = MARY_BASE/lib/modules/en/synthesis/sampa2mrpa_en.map


# Only change the voice name here
voice.<voicename>.databaseClass = de.dfki.lt.mary.unitselection.clunits.ClusterUnitDatabase
voice.<voicename>.targetCostClass = de.dfki.lt.mary.unitselection.ZeroTargetCostFunction
voice.<voicename>.joinCostClass = de.dfki.lt.mary.unitselection.clunits.ClusterJoinCostFunction
voice.<voicename>.selectorClass = de.dfki.lt.mary.unitselection.clunits.ClusterUnitSelector
voice.<voicename>.concatenatorClass = de.dfki.lt.mary.unitselection.clunits.ClusterUnitConcatenator





