
marytts.language.de.JPhonemiser.pos_punct_regex = \\$,|\\$.|\\$\\(
# marytts.language.de.JPhonemiser.lexicon = jar:/marytts/language/de/lexicon/de_lexicon.fst
# marytts.language.de.JPhonemiser.letter_to_sound = jar:/marytts/language/de/lexicon/lts
#marytts.language.de.JPhonemiser.allophoneset = jar:/marytts/language/de/lexicon/allophones.xml
marytts.language.de.JPhonemiser.use_english = false

# ####################################################################
# ####################### Module settings  ###########################
# ####################################################################




# pos.model = jar:/marytts/language/de/tagger/de-pos-maxent.bin
# #pos.posMap = MARY_BASE/lib/modules/de/tagger/posMap.txt

# marytts.pos.punct.regex =

# # Whether to try and pronounce English words according to the English
# # lexicon in German text:
# phonemiser.useenglish = false

# # Write all unknown words into a file
# phonemiser.logunknown = true
# phonemiser.logunknown.filename = MARY_BASE/log/de_unknown.txt
# phonemiser.logenglish.filename = MARY_BASE/log/de_english-words.txt
# userdict = MARY_BASE/user-dictionaries/userdict-txt
#
#


# # An FST containing word frequencies, in bins from 1 (rare) to 9 (frequent)
# wordFrequency.fst = jar:/marytts/language/de/lexicon/wordFrequencies-fst
# wordFrequency.encoding = ISO-8859-1
