##########################################################################
# Copyright 2000-2009 DFKI GmbH.
# All Rights Reserved.  Use is subject to license terms.
#
# This file is part of MARY TTS.
#
# MARY TTS is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, version 3 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
##########################################################################
# MARY TTS configuration file.
##########################################################################

name = de
de.version = 4.3.0

locale = de

###########################################################################
############################## The Modules  ###############################
###########################################################################
# For keys ending in ".list", values will be appended across config files,
# so that .list keys can occur in several config files.
# For all other keys, values will be copied to the global config, so
# keys should be unique across config files.

# Java classes to use as the modules, as a whitespace-separated list.
# These have to implement marytts.modules.MaryModule.
# For each input type + output type, only one Module may be listed
# across all components, or an Exception will be thrown.
# No particular order is required -- a processing pipeline from input data type
# to output data type will be computed on-line.

modules.classes.list = \
        marytts.language.de.JTokeniser \
        marytts.language.de.Preprocess \
        marytts.modules.OpenNLPPosTagger(de,de.pos) \
        marytts.language.de.JPhonemiser \
        marytts.language.de.Prosody \
        marytts.language.de.Postlex \
        marytts.modules.SimplePhoneme2AP(de) \
        
        marytts.modules.CARTDurationModeller(de,de.duration.,marytts.language.de.features.FeatureProcessorManager) \
        marytts.modules.CARTF0Modeller(de,de.f0.,marytts.language.de.features.FeatureProcessorManager)

        
        de.dfki.lt.mary.modules.de.KlattDurationModeller \
        de.dfki.lt.mary.modules.de.ContourGenerator

ignore.modules.classes.list = \
        marytts.language.de.InformationStructure

featuremanager.classes.list = \
    marytts.language.de.features.FeatureProcessorManager


####################################################################
####################### Module settings  ###########################
####################################################################


de.allophoneset = jar:/marytts/language/de/lexicon/allophones.de.xml


de.pos.model = jar:/marytts/language/de/tagger/de-pos-maxent.bin
#de.pos.posMap = MARY_BASE/lib/modules/de/tagger/posMap.txt
de.pos.punct.regex = \\$,|\\$.|\\$\\(

# Whether to try and pronounce English words according to the English
# lexicon in German text:
de.phonemiser.useenglish = false
# Write all unknown words into a file
de.phonemiser.logunknown = true
de.phonemiser.logunknown.filename = MARY_BASE/log/de_unknown.txt
de.phonemiser.logenglish.filename = MARY_BASE/log/de_english-words.txt
de.userdict = MARY_BASE/user-dictionaries/userdict-de.txt
de.lexicon = jar:/marytts/language/de/lexicon/de_lexicon.fst
de.lettertosound = jar:/marytts/language/de/lexicon/de.lts

# Whether to apply paragraph declination intonation:
de.prosody.paragraphdeclination = true
# rules for prediction of ToBI tones
de.prosody.tobipredparams = jar:/marytts/language/de/prosody/tobipredparams_german.xml
# rules for accent priorities of pos
de.prosody.accentPriorities = jar:/marytts/language/de/prosody/POSAccentPriorities.properties
# copy the word accents to the first accented syllable
de.prosody.syllableaccents = false

# An FST containing word frequencies, in bins from 1 (rare) to 9 (frequent)
de.wordFrequency.fst = jar:/marytts/language/de/lexicon/wordFrequencies-de.fst
de.wordFrequency.encoding = ISO-8859-1

