
marytts.language.de.JPhonemiser.pos_punct_regex = \\$,|\\$.|\\$\\(

####################################################################
####################### Module settings  ###########################
####################################################################


# allophoneset = jar:/marytts/language/de/lexicon/allophones.xml


# pos.model = jar:/marytts/language/de/tagger/de-pos-maxent.bin
# #pos.posMap = MARY_BASE/lib/modules/de/tagger/posMap.txt


# # Whether to try and pronounce English words according to the English
# # lexicon in German text:
# phonemiser.useenglish = false

# # Write all unknown words into a file
# phonemiser.logunknown = true
# phonemiser.logunknown.filename = MARY_BASE/log/de_unknown.txt
# phonemiser.logenglish.filename = MARY_BASE/log/de_english-words.txt
# userdict = MARY_BASE/user-dictionaries/userdict-txt
# lexicon = jar:/marytts/language/de/lexicon/de_lexicon.fst
# lettertosound = jar:/marytts/language/de/lexicon/lts


# # An FST containing word frequencies, in bins from 1 (rare) to 9 (frequent)
# wordFrequency.fst = jar:/marytts/language/de/lexicon/wordFrequencies-fst
# wordFrequency.encoding = ISO-8859-1
