MARY TTS 4.0.0: Release Notes
=============================

[MARY TTS 4.0.0 download](${project.url}/download/4.0.0/openmary-standalone-install-4.0.0.jar)

What's new
----------

This is the first stable release of the new 4.0 code.
MARY 4.0 is a major cleanup over previous versions of MARY TTS.

Changes since MARY 3.6
----------------------

* 100% Pure Java.
  All native libraries have been removed from the system.
  MARY should now run on any platform that has Java 1.5 or newer.
* Fully open source.
  All code is now open source under the [LGPL](http://www.gnu.org/licenses/lgpl-3.0-standalone.html), including German TTS.
  Voices are distributed under Creative Commons or BSD licenses.
* Many languages and voices. In addition to several high-quality German and US English voices, this release adds four expressive British English voices built for the [SEMAINE project](http://www.semaine-project.eu/), a Turkish and a Telugu voice.
  Also, we have made it easy to add more languages and voices in the future.
* New component installer.
  New languages and voices can be installed using a new component installer tool.
  If new languages and/or voices are made available for download, they can be installed without having to re-install the full system.

MARY now comes with a toolkit for people who want to add support for new languages or build their own voices.
There is detailed documentation for

* [creating initial support for a new language](http://mary.opendfki.de/wiki/NewLanguageSupport);
* [recording and building a unit selection voice](http://mary.opendfki.de/wiki/VoiceImportToolsTutorial); and
* [creating an HMM-based voice](http://mary.opendfki.de/wiki/HMMVoiceCreationMary4.0) from the same recordings.

Changes since MARY 4.0 beta
---------------------------

* New British English expressive voices.
  We are releasing the voices of four expressive characters built for the [SEMAINE project](http://www.semaine-project.eu/).
* Improved Installer.
  You can now install downloaded components without requiring an internet connection at install time.
  The Installer handles updates of language and voice components correctly.
* Improved German pronounciation.
  Several thousand words were added to the pronounciation lexicon, bringing the total number of German transcriptions to over 26,000.
  Some bugs were fixed in the transcription of unknown words, making the synthesis of German more reliable.
* Added MBROLA voices.
  There are still many people who use MARY with MBROLA diphone voices because of the control over prosody that they provide.
  Therefore we have added MBROLA voices to this release.
  They can be installed like the other voices through the MARY component installer.
* Voice creation tools were simplified.
  The handling of external programs needed, in particular, for the creation of HMM-based voices was simplified.
  We provide a script now that you can use to find or, if necessary, download and compile third-party software required for training HMM-based voices.

More details on individual issues addressed can be seen in the [list of tickets associated with this release](http://mary.opendfki.de/query?status=closed&amp;group=resolution&amp;milestone=4.0) and in the [list of tickets associated with the 4.0 beta release](http://mary.opendfki.de/query?status=closed&amp;group=resolution&amp;milestone=4.0+beta).

Tested environments
-------------------

The MARY client and server code was tested on:

* Mac OS X (Intel) 10.5.8 with java 1.6.0_07
* Ubuntu Linux 8.10 and 9.04 with sun java 1.5, 1.6, and openjdk-6
* Windows XP and Vista

The web interface at http://localhost:59125 should work with any recent browser that supports AJAX.
We have obtained best results with:

* Firefox 3.5 with built-in audio support
* Firefox 3.0, Internet Explorer 6 and 7, Safari 4, with Quicktime plugin

Known issues
------------

* On Ubuntu Linux with sun java 1.5 and 1.6, we observed a problem with audio playback in the MARY client:
  the final section is cut off.
  With openjdk-6, it works ok.
* On Ubuntu Linux 8.10 with the builtin Firefox 3.0, the audio plugin doesn't work properly.
* Web interface in the browser Chrome suboptimal:
  Chrome does not seem to handle the HTML 5 `<audio>` tag correctly.
  It claims it can handle it, but then doesn't play audio.
  Click on "Save audio file" to get the raw audio data.

Bug reports
-----------

Thanks to user feedback, we have fixed a number of bugs found in the beta release.
We are therefore confident that the system is ready for production use.
Nevertheless it is likely that new bugs will appear in new circumstances.

If you think you have identified a bug, proceed as follows:

1. Check in the [list of known bugs](http://mary.opendfki.de/query?group=status&amp;milestone=4.0) whether the bug has been reported already;
2. If you cannot find it, prepare your request to the mailing list.
   Try to find out exactly:
    * what to do to reproduce the error;
    * expected behaviour;
3. Then send an informative email as described in the [FAQ](http://mary.opendfki.de/wiki/FrequentlyAskedQuestions#bugreport).

Contributions
-------------

People interested in adding support for a language can get in touch, e.g. via the [MARY developers mailing list](http://www.dfki.de/mailman/listinfo/mary-dev).
