# MaryTTS 5.1

Following significant restructuring introduced in v5.0, this is a milestone release to stabilize numerous new features and fixes over the past two years.

## New features

Apart from numerous fixed issues, there are several notable improvements in this version.

### French language support

Thanks to Sathish Pammis work at ENST and UPMC in Paris, there is support for French TTS.
This supersedes an [earlier, experimental implementation](http://mary.opendfki.de/browser/branches/fr-branch), which relied on external, incompatible resources.

Moreover, thanks to the great work and generosity of the speakers, there are a number of French voices built from three open-source corpora:

* https://github.com/marytts/enst-camille-data
* https://github.com/marytts/upmc-jessica-data
* https://github.com/marytts/upmc-pierre-data

### Improved Italian language support

Thanks to Fabio Tesser and Giulio Paci at ISTC in Padova, numerous improvements were made to Italian TTS.

This includes the resurrection of the HTK Labeler used for voicebuilding as an alternative to the EHMM Labeler, which may produce better results under certain conditions.

### Documentation

Although much of the documentation has yet to be updated, the [MaryTTS website](http://mary.dfki.de/) itself is now built from within the MaryTTS source code.
This unifies the fossilized legacy content with new documentation, including the GitHub-hosted [wiki](https://github.com/marytts/marytts/wiki), and makes it easy to manage.

### Easier integration

Finally, thanks to global hosting at Bintray, it is now possible to integrate MaryTTS directly into other applications without the requirement to install it first locally, simply by adding the following repository block to your `pom.xml`:
```xml
<repository>
	<id>bintray</id>
	<url>http://dl.bintray.com/marytts/marytts</url>
</repository>
```

## Develepment news

There has been some fluctuation in the core development team since v5.0;
departures and other responsibilities have resulted in less activity than we would have liked.

Fortunately, we do finally have several new projects for MaryTTS, and several exciting features waiting the wings, ready to be rebased on a stable version (this one), including major overhauls of the voicebuilding toolchain and the new language support, and a new web-based installer.
Expect these to land in the near future.
