# GlobalProperties:
db.allophonesDir /home/test/my_voice/allophones/
db.basenameFile /home/test/my_voice/basenames.lst
db.domain general
db.gender male
db.halfphoneFeatureDir /home/test/my_voice/halfphonefeatures/
db.halfphoneLabDir /home/test/my_voice/halfphonelab/
db.labDir /home/test/my_voice/lab/
db.labExtension .lab
db.estDir /project/mary/Festival/speech_tools/
db.hplabExtension .hplab
db.locale en_US
db.maryServerHost localhost
db.maryServerPort 59125
db.marybase /path/to/marybase/
db.marybaseversion trunk
db.maryxmlDir /home/test/my_voice/rawmaryxml/
db.maryxmlExtension .xml
db.phoneFeatureDir /home/test/my_voice/phonefeatures/
db.phoneLabDir /home/test/my_voice/phonelab/
db.pmDir /home/test/my_voice/pm/
db.pmExtension .pm
db.promptAllophonesDir /home/test/my_voice/prompt_allophones/
db.ptcDir /home/test/my_voice/ptc/
db.ptcExtension .ptc
db.rootDir /home/test/my_voice/
db.samplingrate 16000
db.textDir /home/test/my_voice/text/
db.textExtension .txt
db.vocalizationsDir /home/test/my_voice/vocalizations/
db.voicename my_voice
db.wavDir /home/test/my_voice/wav/

# Properties for module PraatPitchmarker:
PraatPitchmarker.command praat
PraatPitchmarker.maxPitch 300
PraatPitchmarker.minPitch 75
PraatPitchmarker.pmDir /home/test/my_voice/pm/
PraatPitchmarker.waveDir /home/test/my_voice/wav/

# Properties for module MCEPMaker:
MCEPMaker.estDir /project/mary/Festival/speech_tools/
MCEPMaker.mcepDir /home/test/my_voice/mcep/

# Properties for module Festvox2MaryTranscripts:
Festvox2MaryTranscripts.transcriptFile /home/test/my_voice/txt.done.data

# Properties for module AllophonesExtractor:
AllophonesExtractor.styleDefinitionFile 

# Properties for module EHMMLabeler:
EHMMLabeler.eDir /home/test/my_voice/ehmm/
EHMMLabeler.ehmmDir /project/mary/Festival/festvox/src/ehmm/
EHMMLabeler.outputLabDir /home/test/my_voice/lab/
EHMMLabeler.promtallophonesDir /home/test/my_voice/prompt_allophones/
EHMMLabeler.reTrainFlag false
EHMMLabeler.startEHMMModelDir /
EHMMLabeler.nonDetEndFlag 0
EHMMLabeler.prepareFiles true
EHMMLabeler.doTraining true
EHMMLabeler.doAlignment true

# Properties for module LabelPauseDeleter:
LabelPauseDeleter.eDir /home/test/my_voice/ehmm/
LabelPauseDeleter.outputLabDir /home/test/my_voice/lab/
LabelPauseDeleter.pauseDurationThreshold 100

# Properties for module LabelledFilesInspector:

# Properties for module PhoneUnitLabelComputer:
PhoneUnitLabelComputer.labelDir /home/test/my_voice/phonelab/

# Properties for module HalfPhoneUnitLabelComputer:
HalfPhoneUnitLabelComputer.energyBasedTransientSplitting false
HalfPhoneUnitLabelComputer.labelDir /home/test/my_voice/halfphonelab/

# Properties for module TranscriptionAligner:

# Properties for module FeatureSelection:
FeatureSelection.featureFile /home/test/my_voice/mary/features.txt
FeatureSelection.maryServerHost localhost
FeatureSelection.maryServerPort 59125

# Properties for module PhoneUnitFeatureComputer:
PhoneUnitFeatureComputer.allophonesDir /home/test/my_voice/allophones/
PhoneUnitFeatureComputer.featureDir /home/test/my_voice/phonefeatures/
PhoneUnitFeatureComputer.featureFile /home/test/my_voice/mary/features.txt
PhoneUnitFeatureComputer.maryServerHost localhost
PhoneUnitFeatureComputer.maryServerPort 59125

# Properties for module HalfPhoneUnitFeatureComputer:
HalfPhoneUnitFeatureComputer.allophonesDir /home/test/my_voice/allophones/
HalfPhoneUnitFeatureComputer.featureDir /home/test/my_voice/halfphonefeatures/
HalfPhoneUnitFeatureComputer.featureFile /home/test/my_voice/mary/features.txt
HalfPhoneUnitFeatureComputer.maryServerHost localhost
HalfPhoneUnitFeatureComputer.maryServerPort 59125

# Properties for module PhoneLabelFeatureAligner:

# Properties for module HalfPhoneLabelFeatureAligner:

# Properties for module WaveTimelineMaker:
WaveTimelineMaker.waveTimeline /home/test/my_voice/mary/timeline_waveforms.mry

# Properties for module BasenameTimelineMaker:
BasenameTimelineMaker.timelineFile /home/test/my_voice/mary/timeline_basenames.mry

# Properties for module MCepTimelineMaker:
MCepTimelineMaker.mcepDir /home/test/my_voice/mcep/
MCepTimelineMaker.mcepTimeline /home/test/my_voice/mary/timeline_mcep.mry

# Properties for module PhoneUnitfileWriter:
PhoneUnitfileWriter.labelDir /home/test/my_voice/phonelab/
PhoneUnitfileWriter.unitFile /home/test/my_voice/mary/phoneUnits.mry

# Properties for module PhoneFeatureFileWriter:
PhoneFeatureFileWriter.featureDir /home/test/my_voice/phonefeatures/
PhoneFeatureFileWriter.featureFile /home/test/my_voice/mary/phoneFeatures.mry
PhoneFeatureFileWriter.unitFile /home/test/my_voice/mary/phoneUnits.mry
PhoneFeatureFileWriter.weightsFile /home/test/my_voice/mary/phoneUnitFeatureDefinition.txt

# Properties for module DurationCARTTrainer:
DurationCARTTrainer.durTree /home/test/my_voice/mary/dur.tree
DurationCARTTrainer.estDir /project/mary/Festival/speech_tools/
DurationCARTTrainer.featureDir /home/test/my_voice/phonefeatures/
DurationCARTTrainer.featureFile /home/test/my_voice/mary/phoneFeatures.mry
DurationCARTTrainer.isHnmTimeline false
DurationCARTTrainer.labelDir /home/test/my_voice/phonelab/
DurationCARTTrainer.stepwiseTraining false
DurationCARTTrainer.unitFile /home/test/my_voice/mary/phoneUnits.mry
DurationCARTTrainer.waveTimeline /home/test/my_voice/mary/timeline_waveforms.mry

# Properties for module F0CARTTrainer:
F0CARTTrainer.estDir /project/mary/Festival/speech_tools/
F0CARTTrainer.f0LeftTreeFile /home/test/my_voice/mary/f0.left.tree
F0CARTTrainer.f0MidTreeFile /home/test/my_voice/mary/f0.mid.tree
F0CARTTrainer.f0RightTreeFile /home/test/my_voice/mary/f0.right.tree
F0CARTTrainer.featureDir /home/test/my_voice/phonefeatures/
F0CARTTrainer.featureFile /home/test/my_voice/mary/phoneFeatures.mry
F0CARTTrainer.isHnmTimeline false
F0CARTTrainer.labelDir /home/test/my_voice/phonelab/
F0CARTTrainer.stepwiseTraining false
F0CARTTrainer.unitFile /home/test/my_voice/mary/phoneUnits.mry
F0CARTTrainer.waveTimeline /home/test/my_voice/mary/timeline_waveforms.mry

# Properties for module HalfPhoneUnitfileWriter:
HalfPhoneUnitfileWriter.labelDir /home/test/my_voice/halfphonelab/
HalfPhoneUnitfileWriter.unitFile /home/test/my_voice/mary/halfphoneUnits.mry

# Properties for module HalfPhoneFeatureFileWriter:
HalfPhoneFeatureFileWriter.featureDir /home/test/my_voice/halfphonefeatures/
HalfPhoneFeatureFileWriter.featureFile /home/test/my_voice/mary/halfphoneFeatures.mry
HalfPhoneFeatureFileWriter.unitFile /home/test/my_voice/mary/halfphoneUnits.mry
HalfPhoneFeatureFileWriter.weightsFile /home/test/my_voice/mary/halfphoneUnitFeatureDefinition.txt

# Properties for module F0PolynomialFeatureFileWriter:
F0PolynomialFeatureFileWriter.f0FeatureFile /home/test/my_voice/mary/syllableF0Polynomials.mry
F0PolynomialFeatureFileWriter.featureFile /home/test/my_voice/mary/halfphoneFeatures.mry
F0PolynomialFeatureFileWriter.interpolate true
F0PolynomialFeatureFileWriter.isHnmTimeline false
F0PolynomialFeatureFileWriter.maxPitch 300
F0PolynomialFeatureFileWriter.minPitch 75
F0PolynomialFeatureFileWriter.polynomOrder 3
F0PolynomialFeatureFileWriter.showGraph false
F0PolynomialFeatureFileWriter.unitFile /home/test/my_voice/mary/halfphoneUnits.mry
F0PolynomialFeatureFileWriter.waveTimeLine /home/test/my_voice/mary/timeline_waveforms.mry

# Properties for module AcousticFeatureFileWriter:
AcousticFeatureFileWriter.acFeatDef /home/test/my_voice/mary/halfphoneUnitFeatureDefinition_ac.txt
AcousticFeatureFileWriter.acFeatureFile /home/test/my_voice/mary/halfphoneFeatures_ac.mry
AcousticFeatureFileWriter.contourFile /home/test/my_voice/mary/syllableF0Polynomials.mry
AcousticFeatureFileWriter.featureFile /home/test/my_voice/mary/halfphoneFeatures.mry
AcousticFeatureFileWriter.unitFile /home/test/my_voice/mary/halfphoneUnits.mry

# Properties for module JoinCostFileMaker:
JoinCostFileMaker.acfeatureFile /home/test/my_voice/mary/halfphoneFeatures_ac.mry
JoinCostFileMaker.joinCostFile /home/test/my_voice/mary/joinCostFeatures.mry
JoinCostFileMaker.mcepDir /home/test/my_voice/mcep/
JoinCostFileMaker.mcepTimeline /home/test/my_voice/mary/timeline_mcep.mry
JoinCostFileMaker.unitFile /home/test/my_voice/mary/halfphoneUnits.mry
JoinCostFileMaker.weightsFile /home/test/my_voice/mary/joinCostWeights.txt

# Properties for module CARTBuilder:
CARTBuilder.acFeatureFile /home/test/my_voice/mary/halfphoneFeatures_ac.mry
CARTBuilder.callWagon false
CARTBuilder.cartFile /home/test/my_voice/mary/cart.mry
CARTBuilder.estDir /project/mary/Festival/speech_tools/
CARTBuilder.featureSeqFile /home/test/my_voice/mary/featureSequence.txt
CARTBuilder.maxLeafSize 10000000
CARTBuilder.mcepTimeline /home/test/my_voice/mary/timeline_mcep.mry
CARTBuilder.numProcesses 1
CARTBuilder.readFeatureSequence true
CARTBuilder.topLevelTreeFile /home/test/my_voice/mary/topLevel.tree
CARTBuilder.unitFile /home/test/my_voice/mary/halfphoneUnits.mry

# Properties for module HMMVoiceDataPreparation:
HMMVoiceDataPreparation.adaptScripts false
HMMVoiceDataPreparation.userRawDirectory 
HMMVoiceDataPreparation.userUttDirectory 

# Properties for module HMMVoiceConfigure:
HMMVoiceConfigure.adaptF0Ranges 'bdl 40 210 clb 130 260 jmk 50 180 rms 40 200 slt 110 280'
HMMVoiceConfigure.adaptHead b05
HMMVoiceConfigure.adaptScripts false
HMMVoiceConfigure.adaptSpkr slt
HMMVoiceConfigure.adaptSpkrMask */cmu_us_arctic_%%%_*
HMMVoiceConfigure.adaptTrainSpkr 'bdl clb jmk rms'
HMMVoiceConfigure.adaptTransKind feat
HMMVoiceConfigure.adaptTreeKind dec
HMMVoiceConfigure.configureFile /home/test/my_voice/hts/configure
HMMVoiceConfigure.dataSet cmu_us_arctic
HMMVoiceConfigure.fftLen 512
HMMVoiceConfigure.frameLen 400
HMMVoiceConfigure.frameShift 80
HMMVoiceConfigure.freqWarp 0.55
HMMVoiceConfigure.gamma 0
HMMVoiceConfigure.lf0BandWidth 1
HMMVoiceConfigure.lnGain 1
HMMVoiceConfigure.lowerF0 110
HMMVoiceConfigure.mgcBandWidth 35
HMMVoiceConfigure.mgcOrder 34
HMMVoiceConfigure.normalize 1
HMMVoiceConfigure.numIterations 5
HMMVoiceConfigure.numState 5
HMMVoiceConfigure.numTestFiles 5
HMMVoiceConfigure.qestionsNum 001
HMMVoiceConfigure.sampfreq 16000
HMMVoiceConfigure.speaker slt
HMMVoiceConfigure.strBandWidth 5
HMMVoiceConfigure.strOrder 5
HMMVoiceConfigure.upperF0 280
HMMVoiceConfigure.version 1
HMMVoiceConfigure.windowType 1

# Properties for module HMMVoiceFeatureSelection:
HMMVoiceFeatureSelection.featureFile /home/test/my_voice/mary/features.txt
HMMVoiceFeatureSelection.hmmFeatureFile /home/test/my_voice/mary/hmmFeatures.txt

# Properties for module HMMVoiceMakeData:
HMMVoiceMakeData.adaptScripts false
HMMVoiceMakeData.featureListFile mary/hmmFeatures.txt
HMMVoiceMakeData.featureListMapFile mary/hmmFeaturesMap.txt
HMMVoiceMakeData.makeCMPMARY 1
HMMVoiceMakeData.makeLABELMARY 1
HMMVoiceMakeData.makeLF0 1
HMMVoiceMakeData.makeLIST 1
HMMVoiceMakeData.makeMGC 1
HMMVoiceMakeData.makeQUESTIONSMARY 1
HMMVoiceMakeData.makeSCP 1
HMMVoiceMakeData.makeSTR 1
HMMVoiceMakeData.questionsFile hts/data/questions/questions_qst001.hed
HMMVoiceMakeData.questionsUttFile hts/data/questions/questions_utt_qst001.hed
HMMVoiceMakeData.trickyPhonesFile mary/trickyPhones.txt

# Properties for module HMMVoiceMakeVoice:

# Properties for module VoicePackager:
VoicePackager.exampleTextFile 
VoicePackager.licenseUrl http://mary.dfki.de/download/by-nd-3.0.html
VoicePackager.vocalizationSupport false
VoicePackager.voiceDescription 
VoicePackager.voiceType unit selection

# Properties for module HMMVoicePackager:
HMMVoicePackager.Fgvf hts/voices/qst001/ver1/gv-lf0.pdf
HMMVoicePackager.Fgvm hts/voices/qst001/ver1/gv-mgc.pdf
HMMVoicePackager.Fgvs hts/voices/qst001/ver1/gv-str.pdf
HMMVoicePackager.Fif hts/data/filters/mix_excitation_filters.txt
HMMVoicePackager.Fmd hts/voices/qst001/ver1/dur.pdf
HMMVoicePackager.Fmf hts/voices/qst001/ver1/lf0.pdf
HMMVoicePackager.Fmm hts/voices/qst001/ver1/mgc.pdf
HMMVoicePackager.Fms hts/voices/qst001/ver1/str.pdf
HMMVoicePackager.Ftd hts/voices/qst001/ver1/tree-dur.inf
HMMVoicePackager.Ftf hts/voices/qst001/ver1/tree-lf0.inf
HMMVoicePackager.Ftm hts/voices/qst001/ver1/tree-mgc.inf
HMMVoicePackager.Fts hts/voices/qst001/ver1/tree-str.inf
HMMVoicePackager.alpha 0.55
HMMVoicePackager.beta 0.1
HMMVoicePackager.framePeriod 80
HMMVoicePackager.gamma 0
HMMVoicePackager.gvMethod gradient
HMMVoicePackager.gvWeightLf0 1.0
HMMVoicePackager.gvWeightMgc 1.0
HMMVoicePackager.gvWeightStr 1.0
HMMVoicePackager.hmmFeaturesMapFile mary/hmmFeaturesMap.txt
HMMVoicePackager.in 5
HMMVoicePackager.licenseUrl http://mary.dfki.de/download/by-nd-3.0.html
HMMVoicePackager.logGain true
HMMVoicePackager.maxLf0GvIter 100
HMMVoicePackager.maxMgcGvIter 100
HMMVoicePackager.maxStrGvIter 100
HMMVoicePackager.samplingRate 16000
HMMVoicePackager.trickyPhonesFile mary/trickyPhones.txt
HMMVoicePackager.useAcousticModels true
HMMVoicePackager.useContextDependentGV true
HMMVoicePackager.useGV true
HMMVoicePackager.useMixExc true
HMMVoicePackager.vocalizationSupport false
HMMVoicePackager.voiceDescription A male en_US Hidden semi-Markov model voice
HMMVoicePackager.voiceType hsmm

